{% set is_application_deposit_paid = application.isDepositPaid %}
{% set is_application_rest_paid = application.isRestPaid %}

{% if is_application_deposit_paid and not is_application_rest_paid %}
    {% set call_to_action = 'offline_payment_method_instructions.invoice.rest_unpaid_call_to_action'|trans %}
{% elseif not is_application_deposit_paid and is_application_rest_paid %}
    {% set call_to_action = 'offline_payment_method_instructions.invoice.deposit_unpaid_call_to_action'|trans %}
{% else %}
    {% set call_to_action = 'offline_payment_method_instructions.invoice.fully_unpaid_call_to_action'|trans %}
{% endif %}

<div class="row mb-3">
    <div class="col-12">
        {{ call_to_action }}

        {{ include('_fragment/_application/_payment_deadlines.html.twig', {
            application: application
        }) }}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row mb-3 mb-sm-0">
            <div class="col-12 col-sm-6">
                <strong>
                    {{ 'offline_payment_method_instructions.invoice.bank_account'|trans }}:
                </strong>
            </div>

            <div class="col-12 col-sm-6">
                <span>
                    {{ company_bank_account }}
                </span>
            </div>
        </div>

        <div class="row mb-3 mb-sm-0">
            <div class="col-12 col-sm-6">
                <strong>
                    {{ 'offline_payment_method_instructions.invoice.invoice_number'|trans }}:
                </strong>
            </div>

            <div class="col-12 col-sm-6">
                <span>
                    {{ invoice_number }}
                </span>
            </div>
        </div>

        {% set deposit_row %}
            <div class="row mb-3 mb-sm-0">
                <div class="col-12 col-sm-6">
                    <strong>
                        {{ 'offline_payment_method_instructions.invoice.deposit'|trans }}:
                    </strong>
                </div>

                <div class="col-12 col-sm-6">
                    <span>
                        {{ application.fullDeposit|format_currency(application.currency) }}
                    </span>
                </div>
            </div>
        {% endset %}

        {% if is_application_deposit_paid and not is_application_rest_paid %}
            <div class="row mb-3 mb-sm-0">
                <div class="col-12 col-sm-6">
                    <strong>
                        {{ 'offline_payment_method_instructions.invoice.rest'|trans }}:
                    </strong>
                </div>

                <div class="col-12 col-sm-6">
                    <span>
                        {{ application.fullRest|format_currency(application.currency) }}
                    </span>
                </div>
            </div>
        {% elseif not is_application_deposit_paid and is_application_rest_paid %}
            {{ deposit_row }}
        {% else %}
            {{ deposit_row }}

            <div class="row mb-3 mb-sm-0">
                <div class="col-12 col-sm-6">
                    <strong>
                        {{ 'offline_payment_method_instructions.invoice.full_price'|trans }}:
                    </strong>
                </div>

                <div class="col-12 col-sm-6">
                    <span>
                        {{ application.fullPrice|format_currency(application.currency) }}
                    </span>
                </div>
            </div>
        {% endif %}
    </div>
</div>