{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <a data-toggle="collapse" href="#search-content" role="button">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-search mr-2"></i>
                            {{ 'search.label'|trans }}
                        </h3>
                    </div>
                </a>

                <div class="card-body collapse {% if is_search_invalid %} show {% endif %}" id="search-content">
                    {{ form(form_search) }}
                </div>
            </div>
        </div>
    </div>

    {% if is_search_invalid %}
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-danger">
                    <div class="card-header">
                        <span>
                            {{ 'search.error.invalid_filter'|trans }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header d-flex w-100 align-items-center">
                    <h3 class="card-title">
                        {% if paginator.totalItems > 0 %}
                            {{ 'search.results'|trans }} ({{ 'search.total'|trans }} {{ paginator.totalItems }})
                        {% else %}
                            {{ 'search.error.no_results'|trans }}
                        {% endif %}
                    </h3>

                    {% set granted_create = is_granted('user_create') %}
                    {% if granted_create %}
                        <a href="{{ path('admin_user_create') }}" class="btn btn-success ml-3">{{ 'crud.action.common.create'|trans }}</a>
                    {% endif %}
                </div>

                {% if paginator.totalItems > 0 %}
                    <div class="card-body table-responsive p-0">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>{{ 'entity_attribute.user.email'|trans }}</th>
                                    <th>{{ 'entity_attribute.user.name_first'|trans }} & {{ 'entity_attribute.user.name_last'|trans }}</th>
                                    <th>{{ 'entity_attribute.user.role'|trans }}</th>
                                    <th>{{ 'entity_attribute.user.url_name'|trans }}</th>
                                    <th>{{ 'entity_attribute.user.is_featured_guide'|trans }}</th>
                                    <th>{{ 'entity_attribute.user.last_active_at'|trans }}</th>
                                    <th class="cell-25">{{ 'search.item_action'|trans }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% set granted_read = is_granted('user_read') %}
                                {% set granted_update = is_granted('user_update') or is_granted('user_role_update') %}
                                {% set granted_delete = is_granted('user_delete') %}

                                {% for user in paginator.currentPageItems %}
                                    <tr class="align-items-center">
                                        <td class="align-middle cell-25">
                                            <span>{{ user.email }}</span>
                                        </td>

                                        <td class="align-middle">
                                            {% if user.nameFirst is not null and user.nameLast is not null %}
                                                <span>{{ user.nameFirst }} {{ user.nameLast }}</span>
                                            {% else %}
                                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle">
                                            {% if user.role is null %}
                                                <em>{{ 'search.item_no_reference.female'|trans }}</em>
                                            {% else %}
                                                <span>{{ user.role.label }}</span>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle">
                                            {% if user.urlName %}
                                                <span>{{ user.urlName }}</span>
                                            {% else %}
                                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle">
                                            <span>
                                                {% if user.featuredGuide %}
                                                    {{ 'bool.yes'|trans }}
                                                {% else %}
                                                    {{ 'bool.no'|trans }}
                                                {% endif %}
                                            </span>
                                        </td>

                                        <td class="align-middle">
                                            {% if user.lastActiveAt is null %}
                                                <em>{{ 'search.item_no_reference.neutral'|trans }}</em>
                                            {% else %}
                                                <span>{{ user.lastActiveAt|date(date_time_format) }}</span>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle cell-25">
                                            {% if granted_read or granted_update or granted_delete %}
                                                {% if granted_read %}
                                                    <a href="{{ path('admin_user_read', {id: user.id.toRfc4122}) }}" class="btn btn-secondary">{{ 'crud.action.common.read'|trans }}</a>
                                                {% endif %}

                                                {% if granted_update %}
                                                    <a href="{{ path('admin_user_update', {id: user.id.toRfc4122}) }}" class="btn btn-primary">{{ 'crud.action.common.update'|trans }}</a>
                                                {% endif %}

                                                {% if granted_delete %}
                                                    <a href="{{ path('admin_user_delete', {id: user.id.toRfc4122}) }}" class="btn btn-danger">{{ 'crud.action.common.delete'|trans }}</a>
                                                {% endif %}
                                            {% else %}
                                                <span>-</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer clearfix">
                        {{ menu(pagination_menu) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}