{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.name_first'|trans }} & {{ 'entity_attribute.user.name_last'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.nameFirst is not null and user.nameLast is not null %}
                                <span>{{ user.nameFirst }} {{ user.nameLast }}</span>
                            {% else %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.email'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ user.email }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.password'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.password is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <em>{{ 'entity_attribute.common.set'|trans }}</em>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.role'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.role is null %}
                                <em>{{ 'search.item_no_reference.female'|trans }}</em>
                            {% else %}
                                <span>{{ user.role.label }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.street'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.street is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ user.street }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.town'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.town is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ user.town }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.zip'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.zip is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ user.zip }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.country'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.country is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ country_name_for_code(user.country) }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.business_name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.businessName is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ user.businessName }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.business_cin'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.businessCin is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ user.businessCin }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.business_vat_id'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.businessVatId is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ user.businessVatId }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.user.last_active_at'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if user.lastActiveAt is null %}
                                <em>{{ 'search.item_no_reference.neutral'|trans }}</em>
                            {% else %}
                                <span>{{ user.lastActiveAt|date(date_time_format) }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% set granted_update = is_granted('user_update') or is_granted('user_update_role') %}
                {% set granted_delete = is_granted('user_delete') %}

                {% if granted_update or granted_delete %}
                    <div class="card-footer">
                        {% if granted_update %}
                            <a href="{{ path('admin_user_update', {id: user.id.toRfc4122}) }}" class="btn btn-primary mr-2">
                                {{ 'crud.action.common.update'|trans }}
                            </a>
                        {% endif %}

                        {% if granted_delete %}
                            <a href="{{ path('admin_user_delete', {id: user.id.toRfc4122}) }}" class="btn btn-danger">
                                {{ 'crud.action.common.delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}