{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <a data-toggle="collapse" href="#search-content" role="button">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-search mr-2"></i>
                            {{ 'search.label'|trans }}
                        </h3>
                    </div>
                </a>

                <div class="card-body collapse {% if is_search_invalid %} show {% endif %}" id="search-content">
                    {{ form_start(form_search) }}
                        <div class="form-row">
                            <div class="form-group col-md-9">
                                {{ form_row(form_search.phrase) }}
                            </div>

                            <div class="form-group col-md-3">
                                {{ form_row(form_search.sortBy) }}
                            </div>

                            <div class="form-group col-md-4">
                                {{ form_row(form_search.fileExtensions) }}
                            </div>

                            <div class="form-group col-md-4">
                                {{ form_row(form_search.requiredType) }}
                            </div>

                            <div class="form-group col-md-4">
                                {{ form_row(form_search.isGlobal) }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mb-2">{{ 'form.admin.attachment_config_search.button'|trans }}</button>
                    {{ form_end(form_search) }}
                </div>
            </div>
        </div>
    </div>

    {% if is_search_invalid %}
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-danger">
                    <div class="card-header">
                        <span>
                            {{ 'search.error.invalid_filter'|trans }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header d-flex w-100 align-items-center">
                    <h3 class="card-title">
                        {% if paginator.totalItems > 0 %}
                            {{ 'search.results'|trans }} ({{ 'search.total'|trans }} {{ paginator.totalItems }})
                        {% else %}
                            {{ 'search.error.no_results'|trans }}
                        {% endif %}
                    </h3>

                    {% set granted_create = is_granted('attachment_config_create') %}
                    {% if granted_create %}
                        <a href="{{ path('admin_attachment_config_create') }}" class="btn btn-success ml-3">
                            {{ 'crud.action.common.create'|trans }}
                        </a>
                    {% endif %}
                </div>

                {% if paginator.totalItems > 0 %}
                    <div class="card-body table-responsive p-0">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>{{ 'entity_attribute.attachment_config.name'|trans }}</th>
                                    <th>{{ 'entity_attribute.attachment_config.required_type'|trans }}</th>
                                    <th>{{ 'entity_attribute.attachment_config.max_size'|trans }}</th>
                                    <th>{{ 'entity_attribute.attachment_config.file_extensions'|trans }}</th>
                                    <th>{{ 'entity_attribute.attachment_config.is_global'|trans }}</th>
                                    <th class="cell-25">{{ 'search.item_action'|trans }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% set granted_read = is_granted('attachment_config_read') %}
                                {% set granted_update = is_granted('attachment_config_update') %}
                                {% set granted_delete = is_granted('attachment_config_delete') %}

                                {% for attachment_config in paginator.currentPageItems %}
                                    <tr class="align-items-center">
                                        <td class="align-middle">
                                            <span>{{ attachment_config.name }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ ('attachment_config_required_type.' ~ attachment_config.requiredType.value)|trans }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ attachment_config.maxSize }} MB</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ attachment_config.fileExtensionsAsString }}</span>
                                        </td>

                                        <td class="align-middle">
                                            {% if attachment_config.isGlobal %}
                                                <span>{{ 'bool.yes'|trans }}</span>
                                            {% else %}
                                                <span>{{ 'bool.no'|trans }}</span>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle cell-25">
                                            {% if granted_read or granted_update or granted_delete %}
                                                {% if granted_read %}
                                                    <a href="{{ path('admin_attachment_config_read', {id: attachment_config.id.toRfc4122}) }}" class="btn btn-secondary">
                                                        {{ 'crud.action.common.read'|trans }}
                                                    </a>
                                                {% endif %}

                                                {% if granted_update %}
                                                    <a href="{{ path('admin_attachment_config_update', {id: attachment_config.id.toRfc4122}) }}" class="btn btn-primary">
                                                        {{ 'crud.action.common.update'|trans }}
                                                    </a>
                                                {% endif %}

                                                {% if granted_delete %}
                                                    <a href="{{ path('admin_attachment_config_delete', {id: attachment_config.id.toRfc4122}) }}" class="btn btn-danger">
                                                        {{ 'crud.action.common.delete'|trans }}
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                <span>-</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer clearfix">
                        {{ menu(pagination_menu) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}