{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.attachment_config.name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ attachment_config.name }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.attachment_config.label'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ attachment_config.label }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.attachment_config.help'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if attachment_config.help is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ attachment_config.help }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.attachment_config.max_size'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ attachment_config.maxSize }} MB</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.attachment_config.required_type'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ ('attachment_config_required_type.' ~ attachment_config.requiredType.value)|trans }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.attachment_config.is_global'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>
                                {% if attachment_config.isGlobal %}
                                    <span>{{ 'bool.yes'|trans }}</span>
                                {% else %}
                                    <span>{{ 'bool.no'|trans }}</span>
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.attachment_config.file_extensions'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ attachment_config.fileExtensionsAsString }}</span>
                        </div>
                    </div>
                </div>

                {% set granted_update = is_granted('attachment_config_update') %}
                {% set granted_delete = is_granted('attachment_config_delete') %}

                {% if granted_update or granted_delete %}
                    <div class="card-footer">
                        {% if granted_update %}
                            <a href="{{ path('admin_attachment_config_update', {id: attachment_config.id.toRfc4122}) }}" class="btn btn-primary me-2">
                                {{ 'crud.action.common.update'|trans }}
                            </a>
                        {% endif %}

                        {% if granted_delete %}
                            <a href="{{ path('admin_attachment_config_delete', {id: attachment_config.id.toRfc4122}) }}" class="btn btn-danger">
                                {{ 'crud.action.common.delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}