{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp_date.start_at'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp_date.startAt|date(date_time_format) }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp_date.end_at'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp_date.endAt|date(date_time_format) }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp_date.camp'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp_date.camp.name }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'application.admin.total_revenue'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ total_revenue }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'application.admin.number_of_accepted_applications'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ number_of_accepted_applications }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'application.admin.number_of_accepted_application_campers'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ number_of_accepted_application_campers }} / {{ camp_date.capacity }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'application.admin.accepted_campers'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if application_campers is empty %}
                                <div>
                                    <em>{{ 'search.error.no_results'|trans }}</em>
                                </div>
                            {% else %}
                                {% for application_camper in application_campers %}
                                    <div>
                                        <span>{{ application_camper.nameFull }}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <a href="{{ path('admin_application_camp_date_summary_export', {campDateId: camp_date.id}) }}"
                       class="btn btn-secondary"
                    >
                        {{ 'route.admin_application_camp_date_summary_export'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}