<div class="card flex-fill">
    <div class="card-body">
        <h5 class="card-title">
            {% if blog_post.isPinned %}
                <i class="fas fa-thumbtack text-primary"></i>
            {% endif %}

            {% if blog_post.isHidden %}
                <span class="badge bg-warning text-dark">
                    {{ 'blog.hidden_post'|trans }}
                </span>
            {% endif %}

            {{ blog_post.title }}
        </h5>

        <div>
            <small>
                {{ blog_post.createdAt|date(date_time_format) }}

                {% if blog_post.updatedAt is not null %}
                    ({{ 'entity_attribute.blog_post.updated_at'|trans }}:
                    {{ blog_post.updatedAt|date(date_time_format) }})
                {% endif %}
            </small>
        </div>

        {% if blog_post.description is not null %}
            <div class="mt-3">
                {{ blog_post.description }}
            </div>
        {% endif %}
    </div>

    <div class="card-footer">
        <a href="{{ path('user_blog_post_read', {urlName: blog_post.urlName}) }}"
           class="stretched-link card-link"
        >
            {{ 'crud.action.common.read'|trans }}
        </a>
    </div>
</div>