{% extends "user/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            {{ form(form_login) }}
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            {% if not is_granted('IS_AUTHENTICATED') %}
                <div>
                    <span>{{ 'auth.no_account_yet'|trans }}</span>
                    <a href="{{ path('user_registration') }}">{{ 'auth.no_account_yet_link'|trans }}</a>
                </div>

                <div>
                    <span>{{ 'auth.forgot_password'|trans }}</span>
                    <a href="{{ path('user_password_change') }}">{{ 'auth.forgot_password_link'|trans }}</a>
                </div>

                <br>
            {% endif %}

            {{ include('_fragment/_auth/_social_login_links.html.twig') }}
        </div>
    </div>
{% endblock %}