{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <a data-bs-toggle="collapse" href="#search-content" role="button">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-search me-2"></i>
                            {{ 'search.label'|trans }}
                        </h3>
                    </div>
                </a>

                <div class="card-body collapse {% if is_search_invalid %} show {% endif %}" id="search-content">
                    {{ form(form_search) }}
                </div>
            </div>
        </div>
    </div>

    {% if is_search_invalid %}
        {{ include('_fragment/_form/_admin_invalid_search_row.html.twig') }}
    {% endif %}

    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header d-flex w-100 align-items-center">
                    <h3 class="card-title">
                        {% if paginator.totalItems > 0 %}
                            {{ 'search.results'|trans }} ({{ 'search.total'|trans }} {{ paginator.totalItems }})
                        {% else %}
                            {{ 'search.error.no_results'|trans }}
                        {% endif %}
                    </h3>

                    {% set granted_create = is_granted('camp_create') %}
                    {% if granted_create %}
                        <a href="{{ path('admin_camp_create') }}" class="btn btn-success ms-3">{{ 'crud.action.common.create'|trans }}</a>
                    {% endif %}
                </div>

                {% if paginator.totalItems > 0 %}
                    <div class="card-body table-responsive p-0">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>{{ 'entity_attribute.camp.name'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp.url_name'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp.age_min'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp.age_max'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp.camp_category'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp.period'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp.priority'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp.is_hidden'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp.is_featured'|trans }}</th>
                                    <th class="cell-25">{{ 'search.item_action'|trans }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% set granted_read = is_granted('camp_read') %}
                                {% set granted_update = is_granted('camp_update') %}
                                {% set granted_delete = is_granted('camp_delete') %}

                                {% for camp in paginator.currentPageItems %}
                                    <tr class="align-items-center">
                                        <td class="align-middle">
                                            <span>{{ camp.name }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ camp.urlName }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ camp.ageMin }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ camp.ageMax }}</span>
                                        </td>

                                        <td class="align-middle">
                                            {% if camp.campCategory is null %}
                                                <em>{{ 'search.item_no_reference.female'|trans }}</em>
                                            {% else %}
                                                <span>{{ camp.campCategory.path }}</span>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle">
                                            {% set camp_lifespan = camp_lifespans.getCampLifespan(camp.id.toRfc4122) %}

                                            {% if camp_lifespan is not null and camp_lifespan.startAt is not null and camp_lifespan.endAt is not null %}
                                                <span>{{ camp_lifespan.startAt|date(date_format) }} - {{ camp_lifespan.endAt|date(date_format) }}</span>
                                            {% else %}
                                                <em>{{ 'search.item_no_reference.neutral'|trans }}</em>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle">
                                            <span>
                                                {% if camp.priority is null %}
                                                    <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                                                {% else %}
                                                    {{ camp.priority }}
                                                {% endif %}
                                            </span>
                                        </td>

                                        <td class="align-middle">
                                            {% if camp.isHidden %}
                                                <span>{{ 'bool.yes'|trans }}</span>
                                            {% else %}
                                                <span>{{ 'bool.no'|trans }}</span>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle">
                                            {% if camp.isFeatured %}
                                                <span>{{ 'bool.yes'|trans }}</span>
                                            {% else %}
                                                <span>{{ 'bool.no'|trans }}</span>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle cell-25">
                                            {% if granted_read or granted_update or granted_delete %}
                                                {% if granted_read %}
                                                    <a href="{{ path('admin_camp_read', {id: camp.id.toRfc4122}) }}" class="btn btn-secondary">{{ 'crud.action.common.read'|trans }}</a>
                                                {% endif %}

                                                {% if granted_update %}
                                                    <a href="{{ path('admin_camp_update', {id: camp.id.toRfc4122}) }}" class="btn btn-primary">{{ 'crud.action.common.update'|trans }}</a>
                                                {% endif %}

                                                {% if granted_delete %}
                                                    <a href="{{ path('admin_camp_delete', {id: camp.id.toRfc4122}) }}" class="btn btn-danger">{{ 'crud.action.common.delete'|trans }}</a>
                                                {% endif %}
                                            {% else %}
                                                <span>-</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer clearfix">
                        {{ menu(pagination_menu) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}