{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp.name }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.url_name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp.urlName }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.age_min'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp.ageMin }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.age_max'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp.ageMax }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.street'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if camp.street is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ camp.street }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.town'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if camp.town is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ camp.town }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.zip'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if camp.zip is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ camp.zip }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.country'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if camp.country is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ country_name_for_code(camp.country) }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.priority'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>
                                {% if camp.priority is null %}
                                    <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                                {% else %}
                                    {{ camp.priority }}
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.is_hidden'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if camp.isHidden %}
                                <span>{{ 'bool.yes'|trans }}</span>
                            {% else %}
                                <span>{{ 'bool.no'|trans }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.is_featured'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if camp.isFeatured %}
                                <span>{{ 'bool.yes'|trans }}</span>
                            {% else %}
                                <span>{{ 'bool.no'|trans }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.camp_category'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if camp.campCategory is null %}
                                <em>{{ 'search.item_no_reference.female'|trans }}</em>
                            {% else %}
                                <span>{{ camp.campCategory.path }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.description_short'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>
                                {% if camp.descriptionShort is null %}
                                    <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                                {% else %}
                                    {{ camp.descriptionShort }}
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.description_long'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>
                                {% if camp.descriptionLong is null %}
                                    <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                                {% else %}
                                    {{ camp.descriptionLong|raw }}
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity.camp_image.plural'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if camp_images is empty %}
                                <em>{{ 'search.error.no_results'|trans }}</em>
                            {% else %}
                                <div class="row">
                                    {% for camp_image in camp_images %}
                                        <div class="col-6 col-md-4 col-xl-2 mb-3">
                                            <div class="bg-black">
                                                <a href="{{ asset(camp_image_path(camp_image)) }}">
                                                    <img class="image-cover-16-9"
                                                         src="{{ asset(camp_image_path(camp_image)) }}"
                                                         alt="{{ 'entity.camp_image.singular'|trans }} - {{ camp.name }}"
                                                    >
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity.camp_date.plural'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if camp_dates is empty %}
                                <em>{{ 'search.error.no_results'|trans }}</em>
                            {% else %}
                                {% for camp_date in camp_dates %}
                                    <div>
                                        <span>{{ camp_date.startAt|date(date_time_format) }} - {{ camp_date.endAt|date(date_time_format) }}</span>
                                    </div>
                                {% endfor %}

                                {% if more_camp_dates > 0 %}
                                    <div>
                                        <em>{{ 'more.camp_dates'|trans({more_camp_dates: more_camp_dates}) }}</em>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% set granted_update = is_granted('camp_update') %}
                {% set granted_delete = is_granted('camp_delete') %}

                <div class="card-footer">
                    <a href="{{ path('user_camp_detail', {urlName: camp.urlName}) }}" class="btn btn-secondary mr-2">
                        {{ 'crud.action.camp.show_in_catalog'|trans }}
                    </a>

                    {% if granted_update %}
                        <a href="{{ path('admin_camp_update', {id: camp.id.toRfc4122}) }}" class="btn btn-primary mr-2">
                            {{ 'crud.action.common.update'|trans }}
                        </a>
                    {% endif %}

                    {% if granted_delete %}
                        <a href="{{ path('admin_camp_delete', {id: camp.id.toRfc4122}) }}" class="btn btn-danger">
                            {{ 'crud.action.common.delete'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}