{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp.name }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.url_name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp.urlName }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.age_min'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp.ageMin }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.age_max'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ camp.ageMax }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.camp_category'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if camp.campCategory is null %}
                                <em>{{ 'search.item_no_reference.female'|trans }}</em>
                            {% else %}
                                <span>{{ camp.campCategory.path }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.description_short'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>
                                {% if camp.descriptionShort is null %}
                                    -
                                {% else %}
                                    {{ camp.descriptionShort }}
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.camp.description_long'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>
                                {% if camp.descriptionLong is null %}
                                    -
                                {% else %}
                                    {{ camp.descriptionLong|raw }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>

                {% set granted_update = is_granted('camp_update') %}
                {% set granted_delete = is_granted('camp_delete') %}

                {% if granted_update or granted_delete %}
                    <div class="card-footer">
                        {% if granted_update %}
                            <a href="{{ path('admin_camp_update', {id: camp.id.toRfc4122}) }}" class="btn btn-primary mr-2">
                                {{ 'crud.action.common.update'|trans }}
                            </a>
                        {% endif %}

                        {% if granted_delete %}
                            <a href="{{ path('admin_camp_delete', {id: camp.id.toRfc4122}) }}" class="btn btn-danger">
                                {{ 'crud.action.common.delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}