{% extends "user/profile/base.html.twig" %}

{% block profile_content %}
    <div class="row mb-3">
        <div class="col-12 col-sm-3">
            <strong>{{ 'entity_attribute.camper.name_first'|trans }} & {{ 'entity_attribute.camper.name_last'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9">
            <span>{{ camper.nameFull }}</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3">
            <strong>{{ 'entity_attribute.camper.gender'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9">
            <span>{{ ('gender_childish.' ~ camper.gender.value)|trans }}</span>
        </div>
    </div>

    {% if national_identifier_enabled %}
        <div class="row mb-3">
            <div class="col-12 col-sm-3">
                <strong>{{ 'entity_attribute.camper.national_identifier'|trans }}:</strong>
            </div>

            <div class="col-12 col-sm-9">
                <span>
                    {% if camper.nationalIdentifier is null %}
                        <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                    {% else %}
                        {{ camper.nationalIdentifier }}
                    {% endif %}
                </span>
            </div>
        </div>
    {% endif %}

    <div class="row mb-3">
        <div class="col-12 col-sm-3">
            <strong>{{ 'entity_attribute.camper.born_at'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9">
            <span>{{ camper.bornAt|date(date_format) }}</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3">
            <strong>{{ 'entity_attribute.camper.dietary_restrictions'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9">
            <span>
                {% if camper.dietaryRestrictions is null %}
                    <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                {% else %}
                    {{ camper.dietaryRestrictions|nl2br }}
                {% endif %}
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3">
            <strong>{{ 'entity_attribute.camper.health_restrictions'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9">
            <span>
                {% if camper.healthRestrictions is null %}
                    <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                {% else %}
                    {{ camper.healthRestrictions|nl2br }}
                {% endif %}
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3">
            <strong>{{ 'entity_attribute.camper.medication'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9">
            <span>
                {% if camper.medication is null %}
                    <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                {% else %}
                    {{ camper.medication|nl2br }}
                {% endif %}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="{{ path('user_profile_camper_update', {id: camper.id.toRfc4122}) }}" class="card-link">
                {{ 'crud.action.common.update'|trans }}
            </a>

            <a href="{{ path('user_profile_camper_delete', {id: camper.id.toRfc4122}) }}" class="card-link">
                {{ 'crud.action.common.delete'|trans }}
            </a>
        </div>
    </div>
{% endblock %}