{% extends "user/profile/base.html.twig" %}

{% block profile_content %}
    <div class="row mb-3">
        <div class="col-12 col-sm-3 col-md-3">
            <strong>{{ 'entity_attribute.camper.name'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9 col-md-9">
            <span>{{ camper.name }}</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3 col-md-3">
            <strong>{{ 'entity_attribute.camper.gender'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9 col-md-9">
            <span>{{ ('gender.' ~ camper.gender.value)|trans }}</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3 col-md-3">
            <strong>{{ 'entity_attribute.camper.born_at'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9 col-md-9">
            <span>{{ camper.bornAt|date(date_format) }}</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3 col-md-3">
            <strong>{{ 'entity_attribute.camper.dietary_restrictions'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9 col-md-9">
            <span>
                {% if camper.dietaryRestrictions is null %}
                    -
                {% else %}
                    {{ camper.dietaryRestrictions|nl2br }}
                {% endif %}
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3 col-md-3">
            <strong>{{ 'entity_attribute.camper.health_restrictions'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9 col-md-9">
            <span>
                {% if camper.healthRestrictions is null %}
                    -
                {% else %}
                    {{ camper.healthRestrictions|nl2br }}
                {% endif %}
            </span>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <a href="{{ path('user_profile_camper_update', {id: camper.id}) }}" class="card-link">
                {{ 'crud.action.common.update'|trans }}
            </a>

            <a href="{{ path('user_profile_camper_delete', {id: camper.id}) }}" class="card-link">
                {{ 'crud.action.common.delete'|trans }}
            </a>
        </div>
    </div>
{% endblock %}