{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body_class %}
    layout-fixed sidebar-expand-lg bg-body-tertiary
{% endblock %}

{% block body %}
    <div class="app-wrapper">
        <!-- Top navbar -->
        <nav class="app-header navbar navbar-expand bg-body">
            <div class="container-fluid">
                <!-- Left aligned items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </li>
                </ul>

                <!-- Right aligned items -->
                {% set navbar_admin_horizontal = build_menu('navbar_admin_horizontal') %}
                {{ menu(navbar_admin_horizontal) }}
            </div>
        </nav>

        <!-- Left navbar -->
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
            <!-- Logo -->
            <div class="sidebar-brand">
                <a class="brand-link" href="{{ path('admin_home') }}">
                    <img src="{{ company_logo_url() }}" alt="{{ company_name }}" class="brand-image opacity-75 shadow">
                    <span class="brand-text fw-light">{{ company_name }}</span>
                </a>
            </div>

            <!-- Sidebar -->
            <div class="sidebar-wrapper">
                <!-- Sidebar menu -->
                <nav class="mt-2">
                    {% set navbar_admin_vertical = build_menu('navbar_admin_vertical') %}
                    {{ menu(navbar_admin_vertical) }}
                </nav>
            </div>
        </aside>

        <!-- Content -->
        <main class="app-main">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-4">
                            <!-- Heading -->
                            {% block h1 %}
                                {% if is_route_name_set() %}
                                    <h3 class="m-0">{{ route_name() }}</h3>
                                {% endif %}
                            {% endblock %}
                        </div>

                        <div class="col-xl-8">
                            <div class="float-xl-end">
                                {% if breadcrumbs is defined %}
                                    {{ menu(breadcrumbs) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-content">
                <div class="container-fluid">
                    <!-- Flash messages -->
                    {% block flash %}
                        {{ include('_fragment/_flash/_admin.html.twig', {app: app}) }}
                    {% endblock %}

                    {% block main %}{% endblock %}
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="app-footer">
            <div class="row align-items-center">
                <div class="col-6">
                    <strong>&copy; {{ 'now' | date('Y') }}, {{ company_name }}</strong>
                </div>

                <div class="col-6">
                    {% if themes is not empty %}
                        <div class="float-end">
                            {% set theme_picker = build_menu('theme_picker') %}
                            {{ menu(theme_picker) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </footer>
    </div>
{% endblock %}