{% set camp_image = catalog_result.getCampImage(camp) %}
{% set camp_dates = catalog_result.getCampDates(camp) %}
{% set camp_lowest_full_price = catalog_result.getCampLowestFullPrice(camp) %}

<div class="card flex-fill">
    <img src="{{ camp_image_url(camp_image) }}"
         alt="{{ 'entity.camp_image.singular'|trans }} - {{ camp.name }}"
         class="card-img-top"
    >

    <div class="card-body">
        <h5 class="card-title">
            {% if camp.isHidden %}
                <span class="badge badge-warning">
                    {{ 'camp_catalog.hidden_camp'|trans }}
                </span>
            {% endif %}

            {{ camp.name }}
        </h5>

        <p class="card-text">
            {% if camp_lowest_full_price is not null %}
                {{ 'camp_catalog.from'|trans }}

                <strong class="text-primary">
                    {{ camp_lowest_full_price|format_currency(currency) }}
                </strong>

                <br>
            {% endif %}

            {{ 'entity_attribute.camp.age'|trans }}:

            {% if camp.ageMin is same as(camp.ageMax) %}
                {{ camp.ageMin }}
            {% else %}
                {{ camp.ageMin }} - {{ camp.ageMax }}
            {% endif %}
        </p>

        {% if camp_dates is empty %}
            <div>
                <span class="badge bg-danger">
                    {{ 'camp_catalog.no_upcoming_camp_dates'|trans }}
                </span>
            </div>
        {% else %}
            {% for camp_date in camp_dates %}
                {% set badge_color %}
                    {% if camp_date.hidden %}
                        bg-warning text-dark
                    {% elseif catalog_result.isCampDateOpen(camp_date) %}
                        bg-success
                    {% else %}
                        bg-danger
                    {% endif %}
                {% endset %}

                <div>
                    <span class="badge {{ badge_color }}">
                        {{ camp_date.startAt|date(date_format) }} - {{ camp_date.endAt|date(date_format) }}
                    </span>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="card-footer clearfix">
        <a href="{{ path('user_camp_detail', {urlName: camp.urlName}) }}"
           class="card-link stretched-link"
        >
            {{ 'crud.action.common.read'|trans }}
        </a>
    </div>
</div>