{% extends "user/base.html.twig" %}

{% block main %}
    {% if gallery_image_category_children is not empty %}
        <div class="row">
            <div class="col-12 d-flex flex-wrap pb-3">
                {% for gallery_image_category_child in gallery_image_category_children %}
                    <a href="{{ path('user_gallery_image_list', {path: gallery_image_category_child.path}) }}"
                       class="me-2"
                    >
                        <h5>
                            <span class="badge rounded-pill bg-primary">
                                {{ gallery_image_category_child.name }}
                            </span>
                        </h5>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row mb-5">
        <div class="col-12">
            {% if paginator.totalItems > 0 %}
                <div class="row">
                    {% set gallery_image_category_id = null %}

                    {% if gallery_image_category is not null %}
                        {% set gallery_image_category_id = gallery_image_category.id %}
                    {% endif %}

                    {% for gallery_image in paginator.currentPageItems %}
                        <div class="mb-3 col-6 col-sm-4 col-md-3 col-xl-2">
                            <a href="{{ path('user_gallery_image_read', {
                                galleryImageId: gallery_image.id,
                                fromGalleryImageCategoryId: gallery_image_category_id,
                               }) }}"
                            >
                                <img class="image-cover-1-1 img-thumbnail"
                                     src="{{ gallery_image_url(gallery_image) }}"
                                     alt="{{ 'entity.gallery_image.singular'|trans }}"
                                >
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ menu(pagination_menu) }}
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-12">
                        {{ 'search.error.no_results'|trans }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}