{% extends "user/base.html.twig" %}

{% block main %}
    <div class="row mb-4">
        <div class="col">
            {{ form(form_search) }}
        </div>
    </div>

    {% if is_search_invalid %}
        {{ include('_fragment/_form/_user_invalid_search_row.html.twig') }}
    {% endif %}

    <div class="row mb-3">
        <div class="col">
            <h4>
                {% if paginator.totalItems > 0 %}
                    {{ 'search.results'|trans }} ({{ 'search.total'|trans }} {{ paginator.totalItems }})
                {% else %}
                    {{ 'search.error.no_results'|trans }}
                {% endif %}
            </h4>
        </div>
    </div>

    {% if paginator.totalItems > 0 %}
        <div class="row">
            {% for blog_post in paginator.currentPageItems %}
                <div class="col-sm-12 col-md-6 d-flex mb-4">
                    {{ include('_fragment/_blog_post/_card.html.twig', {blog_post: blog_post}) }}
                </div>
            {% endfor %}
        </div>

        <div class="row mb-5">
            <div class="col">
                {{ menu(pagination_menu) }}
            </div>
        </div>
    {% endif %}
{% endblock %}