{% extends 'admin/application/base_update.html.twig' %}

{% block application_update_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    {{ include('_fragment/_application/_admin_application_camper.html.twig', {
                        application_camper: application_camper,
                        show_name_full: true
                    }) }}
                </div>

                {% if is_granted('application_update') or is_granted('guide_access_update', application) %}
                    <div class="card-footer">
                        <a href="{{ path('admin_application_camper_update', {id: application_camper.id}) }}"
                           class="btn btn-primary mr-2"
                        >
                            {{ 'crud.action.common.update'|trans }}
                        </a>

                        <a href="{{ path('admin_application_camper_delete', {id: application_camper.id}) }}"
                           class="btn btn-danger"
                        >
                            {{ 'crud.action.common.delete'|trans }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}