{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-8 col-xl-5">
                            <p>{{ 'crud.confirmation.gallery_image_delete'|trans }}</p>

                            <div class="row mb-3">
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="bg-black">
                                        {% set image_url = gallery_image_url(gallery_image) %}
                                        {% set img %}
                                            <img class="image-cover-16-9"
                                                 src="{{ image_url }}"
                                                 alt="{{ 'entity.gallery_image.singular'|trans }}"
                                            >
                                        {% endset %}

                                        {% if is_gallery_image_url_placeholder(image_url) %}
                                            {{ img }}
                                        {% else %}
                                            <a href="{{ image_url }}">
                                                {{ img }}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            {{ form(form_delete) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}