{% extends "user/base.html.twig" %}

{% block h1 %}{% endblock %}

{% block main %}
    {% set camp_images_length = camp_images|length %}

    <div class="row">
        <div class="col-12 col-lg-5 col-xl-6 mb-5" {{ stimulus_controller('img--carousel') }}>
            <div id="camp-images-carousel"
                 class="carousel slide"
                 data-bs-interval="false"
                 {{ stimulus_target('img--carousel', 'carousel') }}
            >
                <div class="carousel-inner">
                    {% if camp_images is empty %}
                        <div class="carousel-item active">
                            <img class="d-block w-100 image-cover-16-9"
                                 src="{{ camp_image_url(null) }}"
                                 alt="{{ 'image_carousel.no_image'|trans }}"
                            >
                        </div>
                    {% else %}
                        {% for camp_image in camp_images %}
                            {% set image_url = camp_image_url(camp_image) %}

                            <div class="carousel-item {% if loop.first %} active {% endif %}">
                                <a href="{{ image_url }}">
                                    <img class="d-block w-100 image-cover-16-9"
                                         src="{{ image_url }}"
                                         alt="{{ 'entity.camp_image.singular'|trans }} - {{ camp.name }}"
                                    >
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                {% if camp_images_length >= 2 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#camp-images-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'image_carousel.previous'|trans }}</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#camp-images-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'image_carousel.next'|trans }}</span>
                    </button>
                {% endif %}
            </div>

            {% if camp_images_length >= 2 %}
                <div class="row mt-3">
                    {% for key, camp_image in camp_images %}
                        {% set image_url = camp_image_url(camp_image) %}

                        <div class="col-4 col-md-3 mb-2">
                            <a href="#camp-images-carousel" data-bs-slide-to="{{ key }}">
                                <img class="image-cover-16-9"
                                     src="{{ image_url }}"
                                     alt="{{ 'entity.camp_image.singular'|trans }} - {{ camp.name }}"
                                     {{ stimulus_target('img--carousel', 'indicator') }}
                                >
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-12 col-lg-7 col-xl-6 mb-5 ps-lg-5">
            {% if is_route_name_set() %}
                <h1 class="mb-3">{{ route_name() }}</h1>
            {% endif %}

            <div class="mb-3">
                {{ 'entity_attribute.camp.age'|trans }}:

                {% if camp.ageMin is same as(camp.ageMax) %}
                    {{ camp.ageMin }}
                {% else %}
                    {{ camp.ageMin }} - {{ camp.ageMax }}
                {% endif %}
            </div>

            {% if camp.descriptionShort is not null %}
                <div class="mb-3">
                    {{ camp.descriptionShort }}
                </div>
            {% endif %}

            {% if camp.isAddressPresent %}
                <div class="mb-3">
                    <div>{{ camp.street }}</div>
                    <div>{{ camp.zip }} {{ camp.town }}</div>
                    <div>{{ country_name_for_code(camp.country) }}</div>

                    <div>
                        <a href="#map" data-bs-toggle="modal" data-target="#map">{{ 'camp_catalog.show_map'|trans }}</a>
                    </div>
                </div>
            {% endif %}

            {% if camp_dates_result.campDates is empty %}
                <div class="alert alert-danger mb-0" role="alert">
                    {{ 'camp_catalog.no_upcoming_camp_dates'|trans }}
                </div>
            {% else %}
                <div class="table-responsive d-none d-md-block">
                    <table class="table table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">{{ 'entity.camp_date.singular'|trans }}</th>
                                <th scope="col">{{ 'camp_catalog.price'|trans }}</th>
                                <th scope="col">{{ 'camp_catalog.camp_availability.label'|trans }}</th>
                                <th scope="col">{{ 'search.item_action'|trans }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for camp_date in camp_dates_result.campDates %}
                                <tr class="position-relative">
                                    <td>
                                        <span>
                                            {{ camp_date.startAt|date(date_format) }} - {{ camp_date.endAt|date(date_format) }}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{ camp_date.fullPrice|format_currency(currency) }}
                                        </span>
                                    </td>

                                    <td>
                                        {% if camp_date.isHidden %}
                                            <span class="badge bg-warning text-dark">
                                                {{ 'camp_catalog.hidden_camp_date'|trans }}
                                            </span>
                                        {% elseif camp_dates_result.isCampDateOpen(camp_date) %}
                                            <span class="badge bg-success">
                                                {{ 'camp_catalog.camp_availability.available'|trans }}
                                            </span>
                                        {% else %}
                                            <span class="badge bg-danger">
                                                {{ 'camp_catalog.camp_availability.unavailable'|trans }}
                                            </span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if camp_dates_result.isCampDateOpen(camp_date) %}
                                            {{ include('_fragment/_application/_apply_link.html.twig', {
                                                camp_date: camp_date,
                                                applications_editable_drafts_result: applications_editable_drafts_result,
                                            }) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row d-md-none mt-5">
                    <div class="col-12">
                        <h3 class="mb-3">{{ 'entity.camp_date.plural'|trans }}</h3>

                        {% for camp_date in camp_dates_result.campDates %}
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                {{ camp_date.startAt|date(date_format) }} - {{ camp_date.endAt|date(date_format) }}
                                            </h5>

                                            <p class="card-text">
                                                <span class="badge bg-primary">
                                                    {{ 'camp_catalog.price'|trans }}:
                                                    {{ (camp_date.fullPrice)|format_currency(currency) }}
                                                </span>

                                                {% if camp_date.isHidden %}
                                                    <span class="badge bg-warning text-dark">
                                                        {{ 'camp_catalog.hidden_camp_date'|trans }}
                                                    </span>
                                                {% elseif camp_dates_result.isCampDateOpen(camp_date) %}
                                                    <span class="badge bg-success">
                                                        {{ 'camp_catalog.camp_availability.available'|trans }}
                                                    </span>
                                                {% else %}
                                                    <span class="badge bg-danger">
                                                        {{ 'camp_catalog.camp_availability.unavailable'|trans }}
                                                    </span>
                                                {% endif %}
                                            </p>

                                            {% if camp_dates_result.isCampDateOpen(camp_date) %}
                                                {{ include('_fragment/_application/_apply_link.html.twig', {
                                                    camp_date: camp_date,
                                                    applications_editable_drafts_result: applications_editable_drafts_result,
                                                }) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% if camp.descriptionLong is not null %}
        <div class="row mb-5">
            <div class="col-12 col-lg-8">
                <h3>{{ 'entity_attribute.camp.description_long'|trans }}</h3>

                <p>{{ camp.descriptionLong|raw }}</p>
            </div>
        </div>
    {% endif %}

    {% if guides is not empty %}
        <div class="row mb-5">
            <div class="col-12">
                <h3 class="mb-3">
                    {{ 'camp_catalog.guides'|trans }}
                </h3>

                <div class="row">
                    {% for guide in guides %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex mb-4">
                            {{ include('_fragment/_guide/_card.html.twig', {guide: guide}) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if camp.isAddressPresent %}
        <div class="modal fade" id="map" tabindex="-1" aria-labelledby="map" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content h-75">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mapLabel">
                            {{ 'camp_catalog.map'|trans }}
                        </h5>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'modal.button.close'|trans }}">
                        </button>
                    </div>

                    <div class="modal-body">
                        {% set address = camp.street ~ ', ' ~ camp.zip ~ ' ' ~ camp.town ~ ', ' ~ country_name_for_code(camp.country) %}

                        <iframe src="https://maps.google.com/maps?output=embed&q={{ address }}"
                                class="w-100 border-0"
                                height="98%"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"
                        >
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}