{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header d-flex w-100 align-items-center">
                    {% set granted_create = is_granted('gallery_image_category_create') %}
                    {% if granted_create %}
                        <a href="{{ path('admin_gallery_image_category_create') }}" class="btn btn-success">
                            {{ 'crud.action.common.create'|trans }}
                        </a>
                    {% endif %}
                </div>

                <div class="card-body {% if root_categories is not empty %} table-responsive p-0 {% endif %}">
                    {% if root_categories is empty %}
                        {{ 'search.error.no_results'|trans }}
                    {% else %}
                        {% set granted_read = is_granted('gallery_image_category_read') %}
                        {% set granted_update = is_granted('gallery_image_category_update') %}
                        {% set granted_delete = is_granted('gallery_image_category_delete') %}
                        {% set granted_truncate = is_granted('gallery_image_delete') %}

                        {% for gallery_image_category in root_categories %}
                            {% with {'gallery_image_category': gallery_image_category, 'depth': 0} %}
                                {{ block('gallery_image_category_table') }}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block gallery_image_category_table %}
    {% set collapse_id = 'gallery-image-category-collapse-' ~ gallery_image_category.id.toRfc4122 %}

    <table class="table table-borderless text-nowrap table-hover m-0">
        <tbody>
            <tr>
                <td class="d-flex w-100 justify-content-between align-items-center">
                    <span>
                        {% for d in 0..depth %}
                            {% if d > 0 %}
                                &emsp;
                            {% endif %}
                        {% endfor %}

                        {% if depth > 0 %}
                            <span class="me-1">
                                &#8627;
                            </span>
                        {% endif %}

                        {% if gallery_image_category.children is not empty %}
                            <a data-bs-toggle="collapse"
                               href="#{{ collapse_id }}"
                               role="button"
                               aria-expanded="false"
                               aria-controls="{{ collapse_id }}"
                            >
                                {{ gallery_image_category.name }} <i class="fas fa-chevron-down"></i>
                            </a>
                        {% else %}
                            {{ gallery_image_category.name }}
                        {% endif %}
                    </span>

                    <span class="ps-4">
                        {% if granted_read %}
                            <a href="{{ path('admin_gallery_image_category_read', {id: gallery_image_category.id}) }}"
                               class="btn btn-secondary"
                            >
                                {{ 'crud.action.common.read'|trans }}
                            </a>
                        {% endif %}

                        {% if granted_update %}
                            <a href="{{ path('admin_gallery_image_category_update', {id: gallery_image_category.id}) }}"
                               class="btn btn-primary"
                            >
                                {{ 'crud.action.common.update'|trans }}
                            </a>
                        {% endif %}

                        {% if granted_truncate %}
                            <a href="{{ path('admin_gallery_image_category_truncate', {id: gallery_image_category.id}) }}"
                               class="btn btn-danger"
                            >
                                {{ 'crud.action.common.truncate'|trans }}
                            </a>
                        {% endif %}

                        {% if granted_delete %}
                            <a href="{{ path('admin_gallery_image_category_delete', {id: gallery_image_category.id}) }}"
                               class="btn btn-danger"
                            >
                                {{ 'crud.action.common.delete'|trans }}
                            </a>
                        {% endif %}
                    </span>
                </td>
            </tr>

            {% if gallery_image_category.children is not empty %}
                <tr>
                    <td class="p-0">
                        <div class="collapse" id="{{ collapse_id }}">
                            {% for gallery_image_category_child in gallery_image_category.children %}
                                {% with {'gallery_image_category': gallery_image_category_child, 'depth': depth + 1} %}
                                    {{ block('gallery_image_category_table') }}
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}