{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.gallery_image_category.name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ gallery_image_category.name }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.gallery_image_category.url_name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ gallery_image_category.urlName }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.gallery_image_category.parent'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if gallery_image_category.parent is null %}
                                <em>{{ 'search.item_no_reference.female'|trans }}</em>
                            {% else %}
                                <span>{{ gallery_image_category.parent.path }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% set granted_update = is_granted('gallery_image_category_update') %}
                {% set granted_delete = is_granted('gallery_image_category_delete') %}

                {% if granted_update or granted_delete %}
                    <div class="card-footer">
                        {% if granted_update %}
                            <a href="{{ path('admin_gallery_image_category_update', {id: gallery_image_category.id.toRfc4122}) }}"
                               class="btn btn-primary mr-2"
                            >
                                {{ 'crud.action.common.update'|trans }}
                            </a>
                        {% endif %}

                        {% if granted_delete %}
                            <a href="{{ path('admin_gallery_image_category_delete', {id: gallery_image_category.id.toRfc4122}) }}"
                               class="btn btn-danger"
                            >
                                {{ 'crud.action.common.delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}