{# User profile edit #}
{% block admin_profile_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.nameFirst) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.nameLast) }}
        </div>
    </div>

    {{ form_row(form.bornAt) }}
    {{ form_row(form.bio) }}
    {{ form_row(form.image) }}

    {% if user is defined %}
        {% set image_url = user_image_url(user) %}

        {% if not is_user_image_url_placeholder(image_url) %}
            <div class="row user-image"
                 data-controller="cv--content"
                 data-cv--content-show-when-chosen-value="0"
            >
                <div class="col-4 col-md-3 mb-3">
                    <div class="bg-black">
                        <a href="{{ image_url }}">
                            <img class="image-cover-1-1"
                                 src="{{ image_url }}"
                                 alt="{{ 'entity_attribute.user.image'|trans }}"
                            >
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {{ form_rest(form) }}
{% endblock %}

{# User profile edit #}
{% block admin_user_widget %}
    {{ form_errors(form) }}

    {{ form_row(form.email) }}
    {{ form_row(form.billingData) }}
    {{ form_row(form.urlName) }}
    {{ form_row(form.guidePriority) }}
    {{ form_row(form.bornAt) }}
    {{ form_row(form.bio) }}
    {{ form_row(form.image) }}

    {% if user is defined %}
        {% set image_url = user_image_url(user) %}

        {% if not is_user_image_url_placeholder(image_url) %}
            <div class="row user-image"
                 data-controller="cv--content"
                 data-cv--content-show-when-chosen-value="0"
            >
                <div class="col-4 col-md-3 mb-3">
                    <div class="bg-black">
                        <a href="{{ image_url }}">
                            <img class="image-cover-1-1"
                                 src="{{ image_url }}"
                                 alt="{{ 'entity_attribute.user.image'|trans }}"
                            >
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {{ form_rest(form) }}
{% endblock %}

{# Attachment config search #}
{% block admin_attachment_config_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.fileExtensions) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.requiredType) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.isGlobal) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.attachment_config_search.button'|trans }}
    </button>
{% endblock %}

{# Discount config search #}
{% block admin_discount_config_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.discount_config_search.button'|trans }}
    </button>
{% endblock %}

{# Camp date search #}
{% block admin_camp_date_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form_row(form.from) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.to) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.sortBy) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.isHistorical) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.isHidden) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.isOpenOnly) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.camp_search.button'|trans }}
    </button>
{% endblock %}

{# Camp search #}
{% block admin_camp_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.campCategory) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.sortBy) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.from) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.to) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.age) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.isFeatured) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.isHidden) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.isOpenOnly) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.camp_search.button'|trans }}
    </button>
{% endblock %}

{# Form field search #}
{% block admin_form_field_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.type) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.isRequired) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.isGlobal) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.form_field_search.button'|trans }}
    </button>
{% endblock %}

{# Purchasable item search #}
{% block admin_purchasable_item_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.isGlobal) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.purchasable_item_search.button'|trans }}
    </button>
{% endblock %}

{# Purchasable item edit #}
{% block admin_purchasable_item_widget %}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.label) }}
    {{ form_row(form.price) }}
    {{ form_row(form.maxAmount) }}
    {{ form_row(form.isGlobal) }}
    {{ form_row(form.description) }}
    {{ form_row(form.image) }}

    {% if purchasable_item is defined %}
        {% set image_url = purchasable_item_image_url(purchasable_item) %}

        {% if not is_purchasable_item_image_url_placeholder(image_url) %}
            <div class="row purchasable-item-image"
                 data-controller="cv--content"
                 data-cv--content-show-when-chosen-value="0"
            >
                <div class="col-4 col-md-3 mb-3">
                    <div class="bg-black">
                        <a href="{{ image_url }}">
                            <img class="image-cover-16-9"
                                 src="{{ image_url }}"
                                 alt="{{ 'entity_attribute.purchasable_item.image'|trans }} - {{ purchasable_item.name }}"
                            >
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {{ form_rest(form) }}
{% endblock %}

{# Purchasable item variant search #}
{% block admin_purchasable_item_variant_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.purchasable_item_variant_search.button'|trans }}
    </button>
{% endblock %}

{# Purchasable item variant value search #}
{% block admin_purchasable_item_variant_value_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.purchasable_item_variant_value_search.button'|trans }}
    </button>
{% endblock %}

{# Role search #}
{% block admin_role_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.role_search.button'|trans }}
    </button>
{% endblock %}

{# User search #}
{% block admin_user_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.role) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.user_search.button'|trans }}
    </button>
{% endblock %}

{# Trip location path search #}
{% block admin_trip_location_path_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.trip_location_path_search.button'|trans }}
    </button>
{% endblock %}

{# Trip location search #}
{% block admin_trip_location_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.trip_location_search.button'|trans }}
    </button>
{% endblock %}

{# Application camp search #}
{% block admin_application_camp_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.application_camp_search.button'|trans }}
    </button>
{% endblock %}

{# Application camp date search #}
{% block admin_application_camp_date_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form_row(form.from) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.to) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.application_camp_date_search.button'|trans }}
    </button>
{% endblock %}

{# Application search #}
{% block admin_application_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>

        <div class="form-group col-md-6">
            {{ form_row(form.isOnlinePaymentMethod) }}
        </div>

        <div class="form-group col-md-6">
            {{ form_row(form.isAccepted) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.application_camp_date_search.button'|trans }}
    </button>
{% endblock %}

{# Application edit #}
{% block admin_application_widget %}
    {{ form_errors(form) }}

    {% if form.isAccepted is defined %}
        {{ form_row(form.isAccepted) }}
    {% endif %}

    {% if form.email is defined %}
        {{ form_row(form.email) }}
    {% endif %}

    {% if form.billingData is defined %}
        {{ form_row(form.billingData) }}
    {% endif %}

    {% if form.customerChannel is defined %}
        {{ form_row(form.customerChannel) }}
    {% endif %}

    {% if form.customerChannelOther is defined %}
        {{ form_row(form.customerChannelOther) }}
    {% endif %}

    {% if form.note is defined %}
        {{ form_row(form.note) }}
    {% endif %}

    {% if form.applicationFormFieldValuesData is defined %}
        {{ form_row(form.applicationFormFieldValuesData) }}
    {% endif %}

    {% if form.applicationAttachmentsData is defined %}
        {{ form_row(form.applicationAttachmentsData) }}
    {% endif %}

    {% if form.applicationDiscountsData is defined %}
        {{ form_row(form.applicationDiscountsData) }}
    {% endif %}

    {{ form_rest(form) }}
{% endblock %}

{# Application contact search #}
{% block admin_application_contact_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.application_contact_search.button'|trans }}
    </button>
{% endblock %}

{# Application camper search #}
{% block admin_application_camper_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_row(form.sortBy) }}
        </div>

        {% if form.isApplicationAccepted is defined %}
            <div class="form-group col-md-6">
                {{ form_row(form.ageMin) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_row(form.ageMax) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_row(form.gender) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_row(form.isApplicationAccepted) }}
            </div>
        {% else %}
            <div class="form-group col-md-4">
                {{ form_row(form.ageMin) }}
            </div>

            <div class="form-group col-md-4">
                {{ form_row(form.ageMax) }}
            </div>

            <div class="form-group col-md-4">
                {{ form_row(form.gender) }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        {{ 'form.admin.application_camper_search.button'|trans }}
    </button>
{% endblock %}

{% block admin_application_purchasable_items_widget %}
    {{ form_errors(form) }}

    {% if form.applicationCamperPurchasableItemsData is defined %}
        {% set label = form.applicationCamperPurchasableItemsData.vars.label %}

        {% if label %}
            <h3 class="mb-3">
                {{ label|trans }}
            </h3>
        {% endif %}

        {{ form_widget(form.applicationCamperPurchasableItemsData) }}
    {% endif %}

    {% if form.applicationPurchasableItemsData is defined %}
        {% set label = form.applicationPurchasableItemsData.vars.label %}

        {% if label %}
            <h3 class="mb-3">
                {{ label|trans }}
            </h3>
        {% endif %}

        {{ form_widget(form.applicationPurchasableItemsData) }}
    {% endif %}

    {{ form_rest(form) }}
{% endblock %}