{# Application attachment file help text #}
{% block common_application_attachment_file_help %}
    {% set application_attachment_data = form.parent.vars.data %}
    {% set suppress_required_later_help = application_attachment_data.suppressRequiredLaterHelp %}
    {% set is_already_uploaded = application_attachment_data.isAlreadyUploaded %}
    {% set help_configured = application_attachment_data.help %}
    {% set is_help_configured = help_configured is not same as(null) and help_configured is not same as('') %}
    {% set is_required_later = application_attachment_data.isRequiredLater %}
    {% set extensions = application_attachment_data.extensions %}
    {% set extensions_text = extensions|join(', ') %}

    {% if help is not empty or is_already_uploaded or is_help_configured or is_required_later or extensions_text is not empty %}
        {% set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' form-text text-muted')|trim}) %}

        <small id="{{ id }}_help" {% with { attr: help_attr } %} {{ block('attributes') }} {% endwith %}>
            {% if is_already_uploaded %}
                <strong class="text-success">
                    &check; {{ 'form.user.application_attachment.already_uploaded'|trans }}
                </strong>

                <br>
            {% endif %}

            {% if help is not empty %}
                {{ block('form_help_content') }}

                <br>
            {% endif %}

            {% if is_help_configured %}
                {{ help_configured }}

                <br>
            {% endif %}

            {% if is_required_later and not suppress_required_later_help %}
                {{ 'form.user.application_attachment.is_required_later'|trans }}

                <br>
            {% endif %}

            {% if extensions_text is not empty %}
                {{ 'form.user.application_attachment.allowed_formats'|trans }}:
                {{ extensions_text }}
            {% endif %}
        </small>
    {% endif %}
{% endblock %}

{# Application camper purchasable item #}
{% block common_application_camper_purchasable_items_widget %}
    {{ form_errors(form) }}

    {% set applicationPurchasableItemsVars = form.applicationPurchasableItemsData.vars %}
    {% set applicationPurchasableItemsLabel = applicationPurchasableItemsVars.label %}
    {% set applicationPurchasableItemsLabelVars = applicationPurchasableItemsVars.label_translation_parameters %}

    <h3 class="mb-3">
        {{ applicationPurchasableItemsLabel|trans(applicationPurchasableItemsLabelVars) }}
    </h3>

    {{ form_widget(form.applicationPurchasableItemsData) }}

    {{ form_rest(form) }}
{% endblock %}

{# Application camper edit #}
{% block common_application_camper_widget %}
    {{ form_errors(form) }}

    {% set rendered_form %}
        {% if enable_camper_loading and loadable_campers is not empty and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row mb-2">
                <div class="col-12">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#camper-load-modal-{{ name }}">
                        <i class="fas fa-user-circle"></i>

                        {{ 'form.common.camper.load_from_profile'|trans }}
                    </a>
                </div>
            </div>

            <div id="camper-load-modal-{{ name }}"
                 class="modal fade" tabindex="-1"
                    {{ stimulus_controller('mod--camper-load', {
                        nameFirstId: form.camperData.nameFirst.vars.id,
                        nameLastId: form.camperData.nameLast.vars.id,
                        nationalIdentifierId: form.camperData.nationalIdentifier.vars.id,
                        isNationalIdentifierAbsentId: form.camperData.isNationalIdentifierAbsent.vars.id,
                        bornAtId: form.camperData.bornAt.vars.id,
                        genderId: form.camperData.gender.vars.id,
                        dietaryRestrictionsId: form.camperData.dietaryRestrictions.vars.id,
                        healthRestrictionsId: form.camperData.healthRestrictions.vars.id,
                        medicationId: form.camperData.medication.vars.id,
                    }) }}
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'form.common.camper.modal.title'|trans }}</h5>

                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="{{ 'modal.button_close'|trans }}"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <p>{{ 'form.common.camper.modal.text'|trans }}</p>

                            <div class="form-group">
                                <label for="camper-load-select-{{ name }}" class="required">
                                    {{ 'entity.camper.singular'|trans }}
                                </label>

                                <select class="form-control"
                                        id="camper-load-select-{{ name }}"
                                        {{ stimulus_target('mod--camper-load', 'select') }}
                                        {{ stimulus_action('mod--camper-load', 'updateSubmitButtonAvailability') }}
                                >
                                    <option value="" disabled="disabled" selected="selected">
                                        {{ 'form.common.choice.choose'|trans }}
                                    </option>

                                    {% for loadable_camper in loadable_campers %}
                                        <option data-camper-json="{{ loadable_camper|json_encode }}">
                                            {{ loadable_camper.nameFirst }}
                                            {{ loadable_camper.nameLast }}

                                            ({{ 'form.common.camper.modal.label_born_at'|trans }}
                                            {{ loadable_camper.bornAt|date(date_format) }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                    {{ stimulus_target('mod--camper-load', 'buttonClose') }}
                            >
                                {{ 'modal.button_close'|trans }}
                            </button>

                            <button type="button"
                                    class="btn btn-primary"
                                    {{ stimulus_target('mod--camper-load', 'buttonLoad') }}
                                    {{ stimulus_action('mod--camper-load', 'fillCamperForm') }}
                            >
                                {{ 'form.common.camper.modal.button'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {{ form_rest(form) }}
    {% endset %}

    {% if 'collection_entry' in block_prefixes %}
        <div {{ block('widget_container_attributes') }}>
            {{ rendered_form }}
        </div>
    {% else %}
        {{ rendered_form }}
    {% endif %}
{% endblock %}

{# Application purchasable item widget #}
{% block common_application_purchasable_item_widget %}
    {{ form_errors(form) }}

    {% set index = form.vars.name %}
    {% set children = form.children %}
    {% set data = form.vars.data %}
    {% set application_purchasable_item = data.applicationPurchasableItem %}
    {% set purchasable_item = application_purchasable_item.purchasableItem %}
    {% set application = application_purchasable_item.application %}
    {% set label = children.applicationPurchasableItemInstancesData.vars.label %}
    {% set image_url = purchasable_item_image_url(purchasable_item) %}
    {% set is_purchasable_item_image_url_placeholder = is_purchasable_item_image_url_placeholder(image_url) %}

    <div class="row {% if is_purchasable_item_image_url_placeholder %} mb-1 {% else %} mb-3 {% endif %}">
        <div class="col-12">
            <div>
                {% if application_purchasable_item.description is null %}
                    <h5>{{ label }}</h5>
                {% else %}
                    {% set item_id = application_purchasable_item.id %}

                    <h5>
                        {{ label }}

                        <a href="#purchasable-item-description-{{ item_id }}"
                           data-toggle="modal"
                           data-target="#purchasable-item-description-{{ item_id }}"
                        >
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </h5>

                    <div class="modal fade"
                         id="purchasable-item-description-{{ item_id }}"
                         tabindex="-1"
                         aria-labelledby="purchasable-item-description-{{ item_id }}"
                         aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {{ 'entity_attribute.purchasable_item.description'|trans }}
                                    </h5>

                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-label="{{ 'modal.button_close'|trans }}"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{{ application_purchasable_item.description|nl2br }}</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        {{ 'modal.button_close'|trans }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div>
                <span>
                    {{ 'entity_attribute.application_purchasable_item.price'|trans }}:
                    {{ application_purchasable_item.price|format_currency(application.currency) }}
                </span>
            </div>

            {% if application.isPurchasableItemsIndividualMode %}
                {% set max_amount = application_purchasable_item.maxAmount %}
            {% else %}
                {% set max_amount = application_purchasable_item.calculatedMaxAmount %}
            {% endif %}

            {% if max_amount > 1 %}
                <div>
                    <span>
                        {{ 'entity_attribute.application_purchasable_item.max_amount'|trans }}:
                        {{ max_amount }}
                    </span>
                </div>
            {% endif %}
        </div>

        {% if not is_purchasable_item_image_url_placeholder %}
            <div class="col-12">
                <div class="row mt-2">
                    <div class="col-6 col-md-4">
                        <a href="{{ image_url }}"
                           target="_blank"
                        >
                            <img class="image-cover-16-9"
                                 src="{{ image_url }}"
                                 alt="{{ purchasable_item.name }}"
                            >
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {{ form_row(children.applicationPurchasableItemInstancesData, {label: false}) }}

    {% if children.addApplicationPurchasableItemInstanceData is defined %}
        {{ form_row(children.addApplicationPurchasableItemInstanceData) }}
    {% endif %}

    {{ form_rest(form) }}
{% endblock %}

{# Billing info edit #}
{% block common_billing_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.nameFirst) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.nameLast) }}
        </div>
    </div>

    {{ form_rest(form) }}
{% endblock %}

{# Camper edit #}
{% block common_camper_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.nameFirst) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.nameLast) }}
        </div>
    </div>

    {{ form_rest(form) }}
{% endblock %}

{# Contact edit #}
{% block common_contact_widget %}
    {{ form_errors(form) }}

    {% set rendered_form %}
        {% if enable_contact_loading and loadable_contacts is not empty and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row mb-2">
                <div class="col-12">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#contact-load-modal-{{ name }}">
                        <i class="fas fa-user-circle"></i>

                        {{ 'form.common.contact.load_from_profile'|trans }}
                    </a>
                </div>
            </div>

            <div id="contact-load-modal-{{ name }}"
                 class="modal fade" tabindex="-1"
                    {{ stimulus_controller('mod--contact-load', {
                        nameFirstId: form.nameFirst.vars.id,
                        nameLastId: form.nameLast.vars.id,
                        emailId: form.email.vars.id,
                        phoneNumberId: form.phoneNumber.vars.id,
                        roleId: form.role.vars.id,
                        roleOtherId: form.roleOther.vars.id,
                    }) }}
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'form.common.contact.modal.title'|trans }}</h5>

                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="{{ 'modal.button_close'|trans }}"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <p>{{ 'form.common.contact.modal.text'|trans }}</p>

                            <div class="form-group">
                                <label for="contact-load-select-{{ name }}" class="required">
                                    {{ 'entity.contact.singular'|trans }}
                                </label>

                                <select class="form-control"
                                        id="contact-load-select-{{ name }}"
                                        {{ stimulus_target('mod--contact-load', 'select') }}
                                        {{ stimulus_action('mod--contact-load', 'updateSubmitButtonAvailability') }}
                                >
                                    <option value="" disabled="disabled" selected="selected">
                                        {{ 'form.common.choice.choose'|trans }}
                                    </option>

                                    {% for loadable_contact in loadable_contacts %}
                                        <option data-contact-json="{{ loadable_contact|json_encode }}">
                                            {{ loadable_contact.nameFirst }}
                                            {{ loadable_contact.nameLast }}

                                            ({%- if loadable_contact.role == 'other' -%}
                                                {{ loadable_contact.roleOther }}
                                            {%- else -%}
                                                {{ ('contact_role.' ~ loadable_contact.role)|trans }}
                                            {%- endif -%})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                    {{ stimulus_target('mod--contact-load', 'buttonClose') }}
                            >
                                {{ 'modal.button_close'|trans }}
                            </button>

                            <button type="button"
                                    class="btn btn-primary"
                                    {{ stimulus_target('mod--contact-load', 'buttonLoad') }}
                                    {{ stimulus_action('mod--contact-load', 'fillContactForm') }}
                            >
                                {{ 'form.common.contact.modal.button'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="form-row">
            <div class="col-md-6">
                {{ form_row(form.nameFirst) }}
            </div>

            <div class="col-md-6">
                {{ form_row(form.nameLast) }}
            </div>
        </div>

        {{ form_rest(form) }}
    {% endset %}

    {% if 'collection_entry' in block_prefixes %}
        <div {{ block('widget_container_attributes') }}>
            {{ rendered_form }}
        </div>
    {% else %}
        {{ rendered_form }}
    {% endif %}
{% endblock %}