{# Camp catalog search #}
{% block user_camp_search_widget %}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-12">
            {{ form_row(form.sortBy) }}
        </div>

        <div class="col-12">
            {{ form_row(form.phrase) }}
        </div>

        <div class="col-12">
            {{ form_row(form.age) }}
        </div>

        <div class="col-12">
            {{ form_row(form.from) }}
        </div>

        <div class="col-12">
            {{ form_row(form.to) }}
        </div>

        <div class="col-12">
            {{ form_row(form.isOpenOnly) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block mt-2">
        <i class="fas fa-search mr-2"></i> {{ 'form.user.camp_search.button'|trans }}
    </button>
{% endblock %}

{# Camper profile search #}
{% block user_camper_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ 'form.user.camper_search.button'|trans }}</button>
{% endblock %}

{# Application camper edit #}
{% block user_application_camper_widget %}
    {{ form_errors(form) }}

    {% set rendered_form %}
        {% if enable_camper_loading and loadable_campers is not empty and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row mb-2">
                <div class="col-12">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#camper-load-modal-{{ name }}">
                        <i class="fas fa-user-circle"></i>

                        {{ 'form.user.camper.load_from_profile'|trans }}
                    </a>
                </div>
            </div>

            <div id="camper-load-modal-{{ name }}"
                 class="modal fade" tabindex="-1"
                 {{ stimulus_controller('mod--camper-load', {
                     nameFirstId: form.camperData.nameFirst.vars.id,
                     nameLastId: form.camperData.nameLast.vars.id,
                     nationalIdentifierId: form.camperData.nationalIdentifier.vars.id,
                     isNationalIdentifierAbsentId: form.camperData.isNationalIdentifierAbsent.vars.id,
                     bornAtId: form.camperData.bornAt.vars.id,
                     genderId: form.camperData.gender.vars.id,
                     dietaryRestrictionsId: form.camperData.dietaryRestrictions.vars.id,
                     healthRestrictionsId: form.camperData.healthRestrictions.vars.id,
                     medicationId: form.camperData.medication.vars.id,
                 }) }}
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'form.user.camper.modal.title'|trans }}</h5>

                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="{{ 'modal.button_close'|trans }}"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <p>{{ 'form.user.camper.modal.text'|trans }}</p>

                            <div class="form-group">
                                <label for="camper-load-select-{{ name }}" class="required">
                                    {{ 'entity.camper.singular'|trans }}
                                </label>

                                <select class="form-control"
                                        id="camper-load-select-{{ name }}"
                                        {{ stimulus_target('mod--camper-load', 'select') }}
                                        {{ stimulus_action('mod--camper-load', 'updateSubmitButtonAvailability') }}
                                >
                                    <option value="" disabled="disabled" selected="selected">
                                        {{ 'form.common.choice.choose'|trans }}
                                    </option>

                                    {% for loadable_camper in loadable_campers %}
                                        <option data-camper-json="{{ loadable_camper|json_encode }}">
                                            {{ loadable_camper.nameFirst }}
                                            {{ loadable_camper.nameLast }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                    {{ stimulus_target('mod--camper-load', 'buttonClose') }}
                                    {{ stimulus_action('mod--camper-load', 'resetSelect') }}
                            >
                                {{ 'modal.button_close'|trans }}
                            </button>

                            <button type="button"
                                    class="btn btn-primary"
                                    {{ stimulus_target('mod--camper-load', 'buttonLoad') }}
                                    {{ stimulus_action('mod--camper-load', 'fillCamperForm') }}
                            >
                                {{ 'form.user.camper.modal.button'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {{ form_rest(form) }}
    {% endset %}

    {% if 'collection_entry' in block_prefixes %}
        <div {{ block('widget_container_attributes') }}>
            {{ rendered_form }}
        </div>
    {% else %}
        {{ rendered_form }}
    {% endif %}
{% endblock %}

{# Camper edit #}
{% block user_camper_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.nameFirst) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.nameLast) }}
        </div>
    </div>

    {{ form_rest(form) }}
{% endblock %}

{# Contact profile search #}
{% block user_contact_search_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="col-md-9">
            {{ form_row(form.phrase) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.sortBy) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ 'form.user.contact_search.button'|trans }}</button>
{% endblock %}

{# Contact edit #}
{% block user_contact_widget %}
    {{ form_errors(form) }}

    {% set rendered_form %}
        {% if enable_contact_loading and loadable_contacts is not empty and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row mb-2">
                <div class="col-12">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#contact-load-modal-{{ name }}">
                        <i class="fas fa-user-circle"></i>

                        {{ 'form.user.contact.load_from_profile'|trans }}
                    </a>
                </div>
            </div>

            <div id="contact-load-modal-{{ name }}"
                 class="modal fade" tabindex="-1"
                 {{ stimulus_controller('mod--contact-load', {
                     nameFirstId: form.nameFirst.vars.id,
                     nameLastId: form.nameLast.vars.id,
                     emailId: form.email.vars.id,
                     phoneNumberId: form.phoneNumber.vars.id,
                     roleId: form.role.vars.id,
                     roleOtherId: form.roleOther.vars.id,
                 }) }}
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'form.user.contact.modal.title'|trans }}</h5>

                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="{{ 'modal.button_close'|trans }}"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <p>{{ 'form.user.contact.modal.text'|trans }}</p>

                            <div class="form-group">
                                <label for="contact-load-select-{{ name }}" class="required">
                                    {{ 'entity.contact.singular'|trans }}
                                </label>

                                <select class="form-control"
                                        id="contact-load-select-{{ name }}"
                                        {{ stimulus_target('mod--contact-load', 'select') }}
                                        {{ stimulus_action('mod--contact-load', 'updateSubmitButtonAvailability') }}
                                >
                                    <option value="" disabled="disabled" selected="selected">
                                        {{ 'form.common.choice.choose'|trans }}
                                    </option>

                                    {% for loadable_contact in loadable_contacts %}
                                        <option data-contact-json="{{ loadable_contact|json_encode }}">
                                            {{ loadable_contact.nameFirst }}
                                            {{ loadable_contact.nameLast }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                    {{ stimulus_target('mod--contact-load', 'buttonClose') }}
                                    {{ stimulus_action('mod--contact-load', 'resetSelect') }}
                            >
                                {{ 'modal.button_close'|trans }}
                            </button>

                            <button type="button"
                                    class="btn btn-primary"
                                    {{ stimulus_target('mod--contact-load', 'buttonLoad') }}
                                    {{ stimulus_action('mod--contact-load', 'fillContactForm') }}
                            >
                                {{ 'form.user.contact.modal.button'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="form-row">
            <div class="col-md-6">
                {{ form_row(form.nameFirst) }}
            </div>

            <div class="col-md-6">
                {{ form_row(form.nameLast) }}
            </div>
        </div>

        {{ form_rest(form) }}
    {% endset %}

    {% if 'collection_entry' in block_prefixes %}
        <div {{ block('widget_container_attributes') }}>
            {{ rendered_form }}
        </div>
    {% else %}
        {{ rendered_form }}
    {% endif %}
{% endblock %}

{# Billing info edit #}
{% block user_billing_widget %}
    {{ form_errors(form) }}

    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.nameFirst) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.nameLast) }}
        </div>
    </div>

    {{ form_rest(form) }}
{% endblock %}

{# Application step one edit #}
{% block user_application_step_one_widget %}
    {{ form_errors(form) }}

    <h3 class="mb-3">
        {{ 'application.buyer_details'|trans }}
    </h3>

    {{ form_row(form.email) }}

    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.nameFirst) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.nameLast) }}
        </div>
    </div>

    {{ form_row(form.street) }}
    {{ form_row(form.town) }}
    {{ form_row(form.zip) }}
    {{ form_row(form.country) }}
    {{ form_row(form.isCompany) }}
    {{ form_row(form.businessName) }}
    {{ form_row(form.businessCin) }}
    {{ form_row(form.businessVatId) }}

    {{ form_row(form.applicationFormFieldValuesData) }}
    {{ form_row(form.applicationAttachmentsData) }}

    <h3 class="mb-3">
        {{ form.contactsData.vars.label|trans }}
    </h3>

    {{ form_row(form.contactsData, {label: false}) }}
    {{ form_row(form.addContactData) }}

    <h3 class="mb-3">
        {{ form.applicationCampersData.vars.label|trans }}
    </h3>

    {{ form_row(form.applicationCampersData, {label: false}) }}
    {{ form_row(form.addCamperData) }}

    {{ block('user_application_bottom') }}

    {{ form_rest(form) }}
{% endblock %}

{# Application step two edit #}
{% block user_application_step_two_widget %}
    {{ form_errors(form) }}

    {{ form_row(form.paymentMethod) }}

    {% if form.discountSiblingsInterval is defined %}
        {{ form_row(form.discountSiblingsInterval) }}
    {% endif %}

    {% if form.applicationPurchasableItemsData is defined %}
        <h3 class="mb-3">
            {{ form.applicationPurchasableItemsData.vars.label|trans }}
        </h3>

        {% if application_purchasable_items is defined %}
            {% for index, application_purchasable_item_form in form.applicationPurchasableItemsData.children %}
                <div class="mb-4">
                    {% if application_purchasable_items[index] is defined %}
                        {% set application_purchasable_item = application_purchasable_items[index] %}
                        {% set purchasable_item = application_purchasable_item.purchasableItem %}
                        {% set application = application_purchasable_item.application %}
                        {% set label = application_purchasable_item_form.children.applicationPurchasableItemInstancesData.vars.label %}
                        {% set image_extension = purchasable_item is null ? null : purchasable_item.imageExtension %}

                        <div class="row {% if image_extension is null %} mb-1 {% else %} mb-3 {% endif %}">
                            <div class="col-12">
                                <div>
                                    {% if application_purchasable_item.description is null %}
                                        <h5>{{ label }}</h5>
                                    {% else %}
                                        <h5>
                                            {{ label }}

                                            <a href="#purchasable-item-description-{{ index }}"
                                               data-toggle="modal"
                                               data-target="#purchasable-item-description-{{ index }}"
                                            >
                                                <i class="fas fa-info-circle"></i>
                                            </a>
                                        </h5>

                                        <div class="modal fade"
                                             id="purchasable-item-description-{{ index }}"
                                             tabindex="-1"
                                             aria-labelledby="purchasable-item-description-{{ index }}"
                                             aria-hidden="true"
                                        >
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            {{ 'entity_attribute.purchasable_item.description'|trans }}
                                                        </h5>

                                                        <button type="button"
                                                                class="close"
                                                                data-dismiss="modal"
                                                                aria-label="{{ 'modal.button_close'|trans }}"
                                                        >
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <p>{{ application_purchasable_item.description|nl2br }}</p>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            {{ 'modal.button_close'|trans }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <div>
                                    <span>
                                        {{ 'entity_attribute.application_purchasable_item.price'|trans }}:
                                        {{ application_purchasable_item.price|format_currency(application.currency) }}
                                    </span>
                                </div>

                                {% if application_purchasable_item.calculatedMaxAmount > 1 %}
                                    <div>
                                        <span>
                                            {{ 'entity_attribute.application_purchasable_item.max_amount'|trans }}:
                                            {{ application_purchasable_item.calculatedMaxAmount }}
                                        </span>
                                    </div>
                                {% endif %}
                            </div>

                            {% if image_extension is not null %}
                                <div class="col-12">
                                    <div class="row mt-2">
                                        <div class="col-6 col-md-4">
                                            <a href="{{ asset(purchasable_item_image_path(purchasable_item)) }}" target="_blank">
                                                <img class="image-cover-16-9"
                                                     src="{{ asset(purchasable_item_image_path(purchasable_item)) }}"
                                                     alt="{{ 'entity_attribute.purchasable_item.image'|trans }} - {{ purchasable_item.name }}"
                                                >
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {{ form_row(application_purchasable_item_form.children.applicationPurchasableItemInstancesData, {label: false}) }}

                    {% if application_purchasable_item_form.children.addApplicationPurchasableItemInstanceData is defined %}
                        {{ form_row(application_purchasable_item_form.children.addApplicationPurchasableItemInstanceData) }}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            {{ form_row(form.applicationPurchasableItemsData) }}
        {% endif %}
    {% endif %}

    <h3 class="mb-3">
        {{ 'application.few_more_optional_fields'|trans }}
    </h3>

    {{ form_row(form.customerChannel) }}

    {{ form_row(form.note) }}

    {{ block('user_application_bottom') }}

    {{ form_rest(form) }}
{% endblock %}

{% block user_application_bottom %}
    <div class="row mt-4">
        {% if application_back_url is defined %}
            <div class="col-6">
                <a class="btn btn-secondary" href="{{ application_back_url }}" role="button">
                    {{ 'back'|trans }}
                </a>
            </div>
        {% endif %}

        <div class="{% if application_back_url is defined %} col-6 {% else %} col-12 {% endif %} text-right">
            {{ form_row(form.submit) }}
        </div>
    </div>
{% endblock %}