{% extends "admin/camp/base_update.html.twig" %}

{% block camp_update_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <a data-toggle="collapse" href="#search-content" role="button">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-search mr-2"></i>
                            {{ 'search.label'|trans }}
                        </h3>
                    </div>
                </a>

                <div class="card-body collapse {% if is_search_invalid %} show {% endif %}" id="search-content">
                    {{ form(form_search) }}
                </div>
            </div>
        </div>
    </div>

    {% if is_search_invalid %}
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-danger">
                    <div class="card-header">
                        <span>
                            {{ 'search.error.invalid_filter'|trans }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header d-flex w-100 align-items-center">
                    <h3 class="card-title">
                        {% if paginator.totalItems > 0 %}
                            {{ 'search.results'|trans }} ({{ 'search.total'|trans }} {{ paginator.totalItems }})
                        {% else %}
                            {{ 'search.error.no_results'|trans }}
                        {% endif %}
                    </h3>

                    <a href="{{ path('admin_camp_date_create', {id: camp.id.toRfc4122}) }}" class="btn btn-success ml-3">{{ 'crud.action.common.create'|trans }}</a>
                </div>

                {% if paginator.totalItems > 0 %}
                    <div class="card-body table-responsive p-0">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>{{ 'entity_attribute.camp_date.start_at'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp_date.end_at'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp_date.deposit'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp_date.price_without_deposit'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp_date.capacity'|trans }}</th>
                                    <th>{{ 'entity_attribute.camp_date.is_hidden'|trans }}</th>
                                    <th class="cell-25">{{ 'search.item_action'|trans }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for camp_date in paginator.currentPageItems %}
                                    <tr class="align-items-center">
                                        <td class="align-middle">
                                            <span>{{ camp_date.startAt|date(date_time_format) }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ camp_date.endAt|date(date_time_format) }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ camp_date.deposit }} {{ currency_symbol_for_code(currency) }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ camp_date.priceWithoutDeposit }} {{ currency_symbol_for_code(currency) }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ camp_date.capacity }}</span>
                                        </td>

                                        <td class="align-middle">
                                            {% if camp_date.isHidden %}
                                                <span>{{ 'bool.yes'|trans }}</span>
                                            {% else %}
                                                <span>{{ 'bool.no'|trans }}</span>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle cell-25">
                                            <a href="{{ path('admin_camp_date_read', {id: camp_date.id.toRfc4122}) }}" class="btn btn-secondary">{{ 'crud.action.common.read'|trans }}</a>
                                            <a href="{{ path('admin_camp_date_update', {id: camp_date.id.toRfc4122}) }}" class="btn btn-primary">{{ 'crud.action.common.update'|trans }}</a>
                                            <a href="{{ path('admin_camp_date_delete', {id: camp_date.id.toRfc4122}) }}" class="btn btn-danger">{{ 'crud.action.common.delete'|trans }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer clearfix">
                        {{ menu(pagination_menu) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}