{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.blog_post.title'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ blog_post.title }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.blog_post.url_name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ blog_post.urlName }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.blog_post.is_hidden'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>
                                {% if blog_post.hidden %}
                                    {{ 'bool.yes'|trans }}
                                {% else %}
                                    {{ 'bool.no'|trans }}
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.blog_post.is_pinned'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>
                                {% if blog_post.pinned %}
                                    {{ 'bool.yes'|trans }}
                                {% else %}
                                    {{ 'bool.no'|trans }}
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.blog_post.author'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if blog_post.author is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ blog_post.author.email }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.blog_post.view_count'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ view_count }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.blog_post.description'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if blog_post.description is null %}
                                <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                            {% else %}
                                <span>{{ blog_post.description }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.blog_post.content'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ blog_post.content|raw }}</span>
                        </div>
                    </div>
                </div>

                {% set granted_update = is_granted('blog_post_update') %}
                {% set granted_delete = is_granted('blog_post_delete') %}

                {% if granted_update or granted_delete %}
                    <div class="card-footer">
                        <a href="{{ path('user_blog_post_read', {urlName: blog_post.urlName}) }}"
                           class="btn btn-secondary me-2"
                        >
                            {{ 'crud.action.blog_post.show_in_user_web'|trans }}
                        </a>

                        {% if granted_update %}
                            <a href="{{ path('admin_blog_post_update', {id: blog_post.id.toRfc4122}) }}"
                               class="btn btn-primary me-2"
                            >
                                {{ 'crud.action.common.update'|trans }}
                            </a>
                        {% endif %}

                        {% if granted_delete %}
                            <a href="{{ path('admin_blog_post_delete', {id: blog_post.id.toRfc4122}) }}"
                               class="btn btn-danger"
                            >
                                {{ 'crud.action.common.delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}