{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.purchasable_item_variant_value.name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ purchasable_item_variant_value.name }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.purchasable_item_variant_value.priority'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ purchasable_item_variant_value.priority }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.purchasable_item_variant_value.purchasable_item_variant'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ purchasable_item_variant_value.purchasableItemVariant.name }}</span>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <a href="{{ path('admin_purchasable_item_variant_value_update', {id: purchasable_item_variant_value.id.toRfc4122}) }}" class="btn btn-primary me-2">
                        {{ 'crud.action.common.update'|trans }}
                    </a>

                    <a href="{{ path('admin_purchasable_item_variant_value_delete', {id: purchasable_item_variant_value.id.toRfc4122}) }}" class="btn btn-danger">
                        {{ 'crud.action.common.delete'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}