{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <a data-toggle="collapse" href="#search-content" role="button">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-search mr-2"></i>
                            {{ 'search.label'|trans }}
                        </h3>
                    </div>
                </a>

                <div class="card-body collapse {% if is_search_invalid %} show {% endif %}" id="search-content">
                    {{ form(form_search) }}
                </div>
            </div>
        </div>
    </div>

    {% if is_search_invalid %}
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-danger">
                    <div class="card-header">
                        <span>
                            {{ 'search.error.invalid_filter'|trans }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header d-flex w-100 align-items-center">
                    <h3 class="card-title">
                        {% if paginator.totalItems > 0 %}
                            {{ 'search.results'|trans }} ({{ 'search.total'|trans }} {{ paginator.totalItems }})
                        {% else %}
                            {{ 'search.error.no_results'|trans }}
                        {% endif %}
                    </h3>

                    {% set granted_create = is_granted('purchasable_item_create') %}
                    {% if granted_create %}
                        <a href="{{ path('admin_purchasable_item_create') }}" class="btn btn-success ml-3">
                            {{ 'crud.action.common.create'|trans }}
                        </a>
                    {% endif %}
                </div>

                {% if paginator.totalItems > 0 %}
                    <div class="card-body table-responsive p-0">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>{{ 'entity_attribute.purchasable_item.image'|trans }}</th>
                                    <th>{{ 'entity_attribute.purchasable_item.name'|trans }}</th>
                                    <th>{{ 'entity_attribute.purchasable_item.price'|trans }}</th>
                                    <th>{{ 'entity_attribute.purchasable_item.max_amount'|trans }}</th>
                                    <th>{{ 'entity_attribute.purchasable_item.is_global'|trans }}</th>
                                    <th class="cell-25">{{ 'search.item_action'|trans }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% set granted_read = is_granted('purchasable_item_read') %}
                                {% set granted_update = is_granted('purchasable_item_update') %}
                                {% set granted_delete = is_granted('purchasable_item_delete') %}

                                {% for purchasable_item in paginator.currentPageItems %}
                                    <tr class="align-items-center">
                                        <td class="align-middle cell-5">
                                            <div class="bg-black">
                                                {% set purchasable_item_img %}
                                                    <img class="image-cover-16-9"
                                                         src="{{ asset(purchasable_item_image_path(purchasable_item)) }}"
                                                         alt="{{ 'entity_attribute.purchasable_item.image'|trans }} - {{ purchasable_item.name }}"
                                                    >
                                                {% endset %}

                                                {% if purchasable_item.imageExtension is null %}
                                                    {{ purchasable_item_img }}
                                                {% else %}
                                                    <a href="{{ asset(purchasable_item_image_path(purchasable_item)) }}">
                                                        {{ purchasable_item_img }}
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ purchasable_item.name }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ purchasable_item.price|format_currency(currency) }}</span>
                                        </td>

                                        <td class="align-middle">
                                            <span>{{ purchasable_item.maxAmount }}</span>
                                        </td>

                                        <td class="align-middle">
                                            {% if purchasable_item.isGlobal %}
                                                <span>{{ 'bool.yes'|trans }}</span>
                                            {% else %}
                                                <span>{{ 'bool.no'|trans }}</span>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle cell-25">
                                            {% if granted_read or granted_update or granted_delete %}
                                                {% if granted_read %}
                                                    <a href="{{ path('admin_purchasable_item_read', {id: purchasable_item.id.toRfc4122}) }}" class="btn btn-secondary">
                                                        {{ 'crud.action.common.read'|trans }}
                                                    </a>
                                                {% endif %}

                                                {% if granted_update %}
                                                    <a href="{{ path('admin_purchasable_item_update', {id: purchasable_item.id.toRfc4122}) }}" class="btn btn-primary">
                                                        {{ 'crud.action.common.update'|trans }}
                                                    </a>
                                                {% endif %}

                                                {% if granted_delete %}
                                                    <a href="{{ path('admin_purchasable_item_delete', {id: purchasable_item.id.toRfc4122}) }}" class="btn btn-danger">
                                                        {{ 'crud.action.common.delete'|trans }}
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                <span>-</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer clearfix">
                        {{ menu(pagination_menu) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}