{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.purchasable_item.name'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ purchasable_item.name }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.purchasable_item.price'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ purchasable_item.price }} {{ currency }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.purchasable_item.max_amount'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            <span>{{ purchasable_item.maxAmount }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <strong>{{ 'entity_attribute.purchasable_item.purchasable_item_variants'|trans }}:</strong>
                        </div>

                        <div class="col-12 col-sm-9">
                            {% if purchasable_item_variants is empty %}
                                <div>
                                    <em>{{ 'search.error.no_results'|trans }}</em>
                                </div>
                            {% else %}
                                {% for purchasable_item_variant in purchasable_item_variants %}
                                    <div>
                                        <span>{{ purchasable_item_variant.name }}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% set granted_update = is_granted('purchasable_item_update') %}
                {% set granted_delete = is_granted('purchasable_item_delete') %}

                {% if granted_update or granted_delete %}
                    <div class="card-footer">
                        {% if granted_update %}
                            <a href="{{ path('admin_purchasable_item_update', {id: purchasable_item.id.toRfc4122}) }}" class="btn btn-primary mr-2">
                                {{ 'crud.action.common.update'|trans }}
                            </a>
                        {% endif %}

                        {% if granted_delete %}
                            <a href="{{ path('admin_purchasable_item_delete', {id: purchasable_item.id.toRfc4122}) }}" class="btn btn-danger">
                                {{ 'crud.action.common.delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}