{% extends 'admin/application/base_update.html.twig' %}

{% block application_update_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    {{ include('_fragment/_application/_admin_application_contact.html.twig', {
                        application_contact: application_contact,
                        show_name_full: true
                    }) }}
                </div>

                <div class="card-footer">
                    <a href="{{ path('admin_application_contact_update', {id: application_contact.id}) }}"
                       class="btn btn-primary me-2"
                    >
                        {{ 'crud.action.common.update'|trans }}
                    </a>

                    <a href="{{ path('admin_application_contact_delete', {id: application_contact.id}) }}"
                       class="btn btn-danger"
                    >
                        {{ 'crud.action.common.delete'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}