{% extends "user/profile/base.html.twig" %}

{% block profile_content %}
    <div class="row mb-3">
        <div class="col-12 col-sm-3">
            <strong>{{ 'entity_attribute.contact.name_first'|trans }} & {{ 'entity_attribute.contact.name_last'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9">
            <span>{{ contact.nameFirst }} {{ contact.nameLast }}</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3">
            <strong>{{ 'entity_attribute.contact.email'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9">
            <span>
                {% if contact.email is null %}
                    <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                {% else %}
                    {{ contact.email }}
                {% endif %}
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3">
            <strong>{{ 'entity_attribute.contact.phone_number'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9">
            <span>
                {% if contact.phoneNumber is null %}
                    <em>{{ 'entity_attribute.common.unset'|trans }}</em>
                {% else %}
                    {{ contact.phoneNumber|phone_number_format(phone_number_format) }}
                {% endif %}
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-3">
            <strong>{{ 'entity_attribute.contact.role'|trans }}:</strong>
        </div>

        <div class="col-12 col-sm-9">
            <span>{{ ('contact_role.' ~ contact.role.value)|trans }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="{{ path('user_profile_contact_update', {id: contact.id.toRfc4122}) }}" class="card-link">
                {{ 'crud.action.common.update'|trans }}
            </a>

            <a href="{{ path('user_profile_contact_delete', {id: contact.id.toRfc4122}) }}" class="card-link">
                {{ 'crud.action.common.delete'|trans }}
            </a>
        </div>
    </div>
{% endblock %}