<p>
    {{ 'mail.user_contact_message.sender_name'|trans }}: {{ sender_name }} <br>
    {{ 'mail.user_contact_message.sender_email'|trans }}: {{ sender_email }} <br>
    {{ 'mail.user_contact_message.sender_phone_number'|trans }}: {{ sender_phone_number }} <br>
</p>

<p>
    {{ message|nl2br }}
</p>