<h1>{{ 'mail.greeting'|trans }}</h1>

<p>
    {{ 'mail.user_registration.body1'|trans }}

    <a href="{{ completion_url }}">{{ 'mail.user_registration.link_text'|trans }}</a>.

    {{ 'mail.user_registration.body2'|trans({
        date: expire_at|date(date_time_format)
    }) }}
</p>