{% if show_application_completed_data %}
    {% set is_application_fully_paid = application.isFullyPaid %}
    {% set is_application_deposit_paid = application.isDepositPaid %}
    {% set is_application_rest_paid = application.isRestPaid %}
    {% set is_application_awaiting_payment = application.isAwaitingPayment %}

    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mb-0">
                                {% if application.isAccepted is same as(true) %}
                                    <i class="fas fa-check-circle text-success me-2"></i>

                                    {{ 'application.is_accepted_state.user.accepted'|trans }}
                                {% elseif application.isAccepted is same as(false) %}
                                    <i class="fas fas fa-times-circle text-danger me-2"></i>

                                    {{ 'application.is_accepted_state.user.declined'|trans }}
                                {% elseif application.isAccepted is same as(null) %}
                                    {% if form_attachments_upload_later is null and not is_application_awaiting_payment %}
                                        <i class="fas fa-check-circle text-primary me-2"></i>

                                        {{ 'application.is_accepted_state.user.null_and_working_on_it'|trans }}
                                    {% else %}
                                        <i class="fas fa-exclamation-triangle text-warning me-2"></i>

                                        {{ 'application.is_accepted_state.user.null_and_not_ready'|trans }}
                                    {% endif %}
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            {% if is_application_awaiting_payment %}
                {% set payment_url_deposit = path('user_application_online_pay', {applicationId: application.id, type: 'deposit'}) %}
                {% set payment_url_rest = path('user_application_online_pay', {applicationId: application.id, type: 'rest'}) %}
                {% set payment_url_full = path('user_application_online_pay', {applicationId: application.id, type: 'full'}) %}

                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-3">
                                    <i class="fas fa-exclamation-triangle text-warning me-2"></i>

                                    {{ 'application.completed_screen.payment.heading'|trans }}
                                </h5>

                                {% if application.isPaymentMethodOnline %}
                                    <div class="mb-3">
                                        {{ 'application.completed_screen.payment.online_call_to_action'|trans }}

                                        {{ include('_fragment/_application/_payment_deadlines.html.twig', {
                                            application: application
                                        }) }}
                                    </div>

                                    {% if application.fullDeposit > 0.0 %}
                                        {% if is_application_deposit_paid %}
                                            <div>
                                                <a href="{{ payment_url_rest }}" class="btn btn-primary">
                                                    {{ 'application.completed_screen.payment.button_online_pay_rest'|trans({
                                                        price: application.fullRest|format_currency(application.currency)
                                                    }) }}
                                                </a>
                                            </div>
                                        {% else %}
                                            <div>
                                                <a href="{{ payment_url_deposit }}" class="btn btn-primary">
                                                    {{ 'application.completed_screen.payment.button_online_pay_deposit'|trans({
                                                        price: application.fullDeposit|format_currency(application.currency)
                                                    }) }}
                                                </a>
                                            </div>

                                            {% if not is_application_rest_paid %}
                                                <div class="mt-3">
                                                    <a href="{{ payment_url_full }}" class="btn btn-primary">
                                                        {{ 'application.completed_screen.payment.button_online_pay_full'|trans({
                                                            price: application.fullPrice|format_currency(application.currency)
                                                        }) }}
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% elseif application.fullPrice > 0.0 %}
                                        <div>
                                            <a href="{{ payment_url_full }}" class="btn btn-primary">
                                                {{ 'application.completed_screen.payment.button_online_pay'|trans({
                                                    price: application.fullPrice|format_currency(application.currency)
                                                }) }}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% elseif application.paymentMethod is null %}
                                    <div>
                                        <em>
                                            {{ 'application.summary.no_payment_method'|trans }}
                                        </em>
                                    </div>
                                {% else %}
                                    <div class="mb-3">
                                        {{ application_offline_payment_instructions(application)|raw }}
                                    </div>

                                    <div>
                                        <em>
                                            {{ 'offline_payment_method_instructions.general'|trans }}
                                        </em>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if form_attachments_upload_later is not null %}
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-3">
                                    <i class="fas fa-exclamation-triangle text-warning me-2"></i>

                                    {{ 'application.completed_screen.form_attachments_upload_later'|trans }}
                                </h5>

                                <div class="mb-4">
                                    {{ 'application.completed_screen.upload_required_attachments'|trans }}
                                </div>

                                {{ form(form_attachments_upload_later) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if is_application_stored_in_session(application) %}
                {% if not app.user %}
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">
                                        <i class="fas fa-info-circle text-secondary me-2"></i>

                                        {{ 'application.completed_screen.import_to_user.heading'|trans }}
                                    </h5>

                                    <div class="mb-4">
                                        {{ 'application.completed_screen.import_to_user.instructions_register'|trans }}
                                    </div>

                                    <a href="{{ path('user_registration') }}" class="btn btn-primary">
                                        {{ 'application.completed_screen.import_to_user.button_register'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif can_import_application_to_user(application, app.user) %}
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">
                                        <i class="fas fa-info-circle text-secondary me-2"></i>

                                        {{ 'application.completed_screen.import_to_user.heading'|trans }}
                                    </h5>

                                    <div class="mb-4">
                                        {{ 'application.completed_screen.import_to_user.instructions_import'|trans }}
                                    </div>

                                    <div>
                                        <a href="{{ path('user_application_import') }}" class="btn btn-primary">
                                            {{ 'application.completed_screen.import_to_user.button_import'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if show_invoice_link %}
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-3">
                                    <i class="fas fa-file-invoice text-secondary me-2"></i>

                                    {{ 'application.completed_screen.invoice.title'|trans }}
                                </h5>

                                <div class="mb-4">
                                    {{ 'application.completed_screen.invoice.instructions'|trans }}
                                </div>

                                <div>
                                    <a href="{{ path('user_profile_application_invoice', {id: application.id}) }}"
                                       class="btn btn-primary"
                                       target="_blank"
                                    >
                                        {{ 'application.completed_screen.invoice.link'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row mb-3">
                <div class="col-6">
                    <strong>
                        {{ 'entity_attribute.application.simple_id'|trans }}:
                    </strong>
                </div>

                <div class="col-6">
                    <span class="float-end">
                        {{ application.simpleId }}
                    </span>
                </div>
            </div>

            {% if application.completedAt is not null %}
                <div class="row mb-3">
                    <div class="col-6">
                        <strong>
                            {{ 'entity_attribute.application.completed_at'|trans }}:
                        </strong>
                    </div>

                    <div class="col-6">
                        <span class="float-end">
                            {{ application.completedAt|date(date_time_format) }}
                        </span>
                    </div>
                </div>
            {% endif %}

            <div class="row mb-3">
                <div class="col-6">
                    <strong>
                        {{ 'entity_attribute.application.camp_name'|trans }}:
                    </strong>
                </div>

                <div class="col-6">
                    <span class="float-end">
                        {{ application.campName }}
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <strong>
                        {{ 'entity_attribute.application.camp_date_start_at'|trans }}:
                    </strong>
                </div>

                <div class="col-6">
                    <span class="float-end">
                        {{ application.campDateStartAt|date(date_time_format) }}
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <strong>
                        {{ 'entity_attribute.application.camp_date_end_at'|trans }}:
                    </strong>
                </div>

                <div class="col-6">
                    <span class="float-end">
                        {{ application.campDateEndAt|date(date_time_format) }}
                    </span>
                </div>
            </div>

            {% if application.campDateDescription is not null %}
                <div class="row mb-3">
                    <div class="col-12">
                        <strong>
                            {{ 'entity_attribute.application.camp_date_description'|trans }}:
                        </strong>
                    </div>

                    <div class="col-12">
                        <span>
                            {{ application.campDateDescription|nl2br }}
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <hr>
        </div>
    </div>
{% endif %}

{% if show_application_campers %}
    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            {% for application_camper in application.applicationCampers %}
                {% set show_camper_total = false %}

                <div class="row mb-3">
                    <div class="col-12">
                        <div class="row d-flex align-items-end">
                            <div class="col-8">
                                <strong>
                                    {{ application_camper.nameFull }}
                                </strong>
                            </div>

                            <div class="col-4 text-end">
                                <span>
                                    {{ application.getPricePerCamper|format_currency(application.currency) }}
                                </span>
                            </div>
                        </div>

                        {% for application_trip_location_path in application_camper.applicationTripLocationPaths %}
                            {% if application_trip_location_path.price > 0.0 %}
                                {% set show_camper_total = true %}

                                <div class="row d-flex align-items-end">
                                    <div class="col-8">
                                        <span>
                                            &#8627;

                                            {{ application_trip_location_path.location }}

                                            {% if application_trip_location_path.isThere %}
                                                ({{ 'application.summary.this_is_where_i_get_on'|trans }})
                                            {% else %}
                                                ({{ 'application.summary.this_is_where_i_get_off'|trans }})
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="col-4 text-end">
                                        <span>
                                            +{{ application_trip_location_path.price|format_currency(application.currency) }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% if application_camper.discountRecurringCamper > 0.0 %}
                            {% set show_camper_total = true %}

                            <div class="row d-flex align-items-end">
                                <div class="col-8">
                                    <span>
                                        &#8627; {{ 'application.summary.discount_recurring_camper'|trans }}
                                    </span>
                                </div>

                                <div class="col-4 text-end">
                                    <span>
                                        -{{ application_camper.discountRecurringCamper|format_currency(application.currency) }}
                                    </span>
                                </div>
                            </div>
                        {% endif %}

                        {% if application_camper.discountSiblings > 0.0 %}
                            {% set show_camper_total = true %}

                            <div class="row d-flex align-items-end">
                                <div class="col-8">
                                    <span>
                                        &#8627; {{ 'application.summary.discount_siblings'|trans }}
                                    </span>
                                </div>

                                <div class="col-4 text-end">
                                    <span>
                                        -{{ application_camper.discountSiblings|format_currency(application.currency) }}
                                    </span>
                                </div>
                            </div>
                        {% endif %}

                        {% if show_camper_total %}
                            <div class="row d-flex align-items-end">
                                <div class="col-8">
                                    <u>
                                        {{ 'application.summary.camper_total_price'|trans }}
                                    </u>
                                </div>

                                <div class="col-4 text-end">
                                    <u>
                                        {{ application_camper.fullPrice|format_currency(application.currency) }}
                                    </u>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if show_application_purchasable_items and application.purchasableItemInstancesTotalAmount > 0 %}
    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            {% for application_purchasable_item in application.applicationPurchasableItems %}
                {% set instances_total_amount = application_purchasable_item.instancesTotalAmount %}

                {% if instances_total_amount > 0 %}
                    {% set instances = application_purchasable_item.applicationPurchasableItemInstances %}
                    {% set instances_count = instances|length %}
                    {% set has_multiple_variants = application_purchasable_item.hasMultipleVariants %}
                    {% set has_instances_assigned_to_camper = application_purchasable_item.hasInstancesAssignedToCamper %}
                    {% set is_expanded_view = instances_count > 1 or has_multiple_variants or has_instances_assigned_to_camper %}

                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="row d-flex align-items-end">
                                <div class="col-8">
                                    <strong>
                                        {% if instances_count > 1 %}
                                            {{ instances_total_amount }}x
                                        {% endif %}

                                        {{ application_purchasable_item.label }}
                                    </strong>
                                </div>

                                {% if not is_expanded_view %}
                                    <div class="col-4 text-end">
                                        <span>
                                            {{ application_purchasable_item.fullPrice|format_currency(application.currency) }}
                                        </span>
                                    </div>
                                {% endif %}
                            </div>

                            {% if is_expanded_view %}
                                {% for instance in instances %}
                                    {% if instance.amount > 0 %}
                                        {% set application_camper = instance.applicationCamper %}

                                        <div class="row d-flex align-items-end">
                                            <div class="col-8 d-flex">
                                                <div class="flex-shrink-0 me-1">
                                                    &#8627;
                                                </div>

                                                <div>
                                                    <span>
                                                        {{ instance.amount }}x
                                                        {{ instance.chosenVariantValuesAsString }}

                                                        {% if application_camper is not null %}
                                                            <span class="text-nowrap">
                                                                {{ 'application.summary.item_instance_for_camper'|trans }}

                                                                <em>
                                                                    {{ application_camper.nameFull }}
                                                                </em>
                                                            </span>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-4 text-end">
                                                <span>
                                                    {{ instance.price|format_currency(application.currency) }}
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if instances_count > 1 %}
                                <div class="row d-flex align-items-end">
                                    <div class="col-8">
                                        <u>
                                            {{ 'application.summary.purchasable_item_total_price'|trans }}
                                        </u>
                                    </div>

                                    <div class="col-4 text-end">
                                        <u>
                                            {{ application_purchasable_item.fullPrice|format_currency(application.currency) }}
                                        </u>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="row mb-5">
    <div class="col-md-8 col-lg-6 col-xl-5">
        {% if application.paymentMethod is not null %}
            <div class="row d-flex align-items-end mb-3">
                <div class="col-6">
                    <strong>
                        {{ 'entity.payment_method.singular'|trans }}:
                    </strong>
                </div>

                <div class="col-6 text-end">
                    <span>
                        {{ application.paymentMethod.label|trans }}
                    </span>
                </div>
            </div>
        {% endif %}

        {% if tax > 0.0 %}
            <div class="row d-flex align-items-end mb-3">
                <div class="col-6">
                    <strong>
                        {{ 'application.summary.total_price_without_tax'|trans }}:
                    </strong>
                </div>

                <div class="col-6 text-end">
                    <span>
                        {{ application.fullPriceWithoutTax|format_currency(application.currency) }}
                    </span>
                </div>
            </div>
        {% endif %}

        <div class="row d-flex align-items-end">
            <div class="col-6">
                <h3 class="mb-0">
                    <strong>
                        {{ 'application.summary.total_price'|trans }}
                    </strong>
                </h3>
            </div>

            <div class="col-6 text-end">
                <h3 class="mb-0">
                    <strong>
                        {{ application.fullPrice|format_currency(application.currency) }}
                    </strong>
                </h3>
            </div>
        </div>
    </div>
</div>