{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user') }}
{% endblock %}

{% block body %}
    <main role="main">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('user_home') }}">{{ 'app.site_name'|trans }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page content-->
        <div class="container pt-4">
            <!-- Breadcrumbs -->
            {% if _breadcrumbs is defined %}
                {{ menu(_breadcrumbs) }}
            {% endif %}

            <!-- Flash messages -->
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="row">
                    <div class="col">
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="alert pt-3 {% if type == 'success' %} alert-success {% elseif type == 'failure' %} alert-danger {% elseif type == 'warning' %} alert-warning {% elseif type == 'info' %} alert-primary {% endif %}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- Heading -->
            {% block h1 %}
                {% if is_route_name_set() %}
                    <h1 class="mb-3">{{ route_name() }}</h1>
                {% endif %}
            {% endblock %}

            {% block main %}{% endblock %}
        </div>
    </main>

{% endblock %}