{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user') }}
{% endblock %}

{% block body %}
    <main>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('user_home') }}">{{ 'app.site_name'|trans }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                <li><a class="dropdown-item" href="portfolio-overview.html">Portfolio Overview</a></li>
                                <li><a class="dropdown-item" href="portfolio-item.html">Portfolio Type</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page content-->
        <div class="container pt-4 pt-4">
            <!-- Breadcrumbs -->
            {% if _breadcrumbs is defined %}
                {{ menu(_breadcrumbs) }}
            {% endif %}

            <!-- Flash messages -->
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="row">
                    <div class="col">
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="alert mt-3 {% if type == 'success' %} alert-success {% elseif type == 'failure' %} alert-danger {% elseif type == 'warning' %} alert-warning {% elseif type == 'info' %} alert-primary {% endif %}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- Heading -->
            {% if is_route_name_set() %}
                <div class="row">
                    <h1>{{ route_name() }}</h1>
                </div>
            {% endif %}

            {% block main %}{% endblock %}
        </div>
    </main>

{% endblock %}