{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user') }}
{% endblock %}

{% block body_class %}
    d-flex flex-column h-100
{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
            <div class="container-xl">
                {{ include('_fragment/_link/_app_clickable_logo.html.twig') }}

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbar"
                        aria-controls="navbar"
                        aria-expanded="false"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    {% set navbar_user = build_menu('navbar_user') %}
                    {{ menu(navbar_user) }}
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="flex-shrink-0">
        <div class="container pt-4">
            <!-- Breadcrumbs -->
            <div class="row mb-2">
                <div class="col">
                    {% if breadcrumbs is defined %}
                        {{ menu(breadcrumbs) }}
                    {% endif %}
                </div>
            </div>

            <!-- Flash messages -->
            {% block flash %}
                {{ include('_fragment/_flash/_user.html.twig') }}
            {% endblock %}

            <!-- Heading -->
            {% block h1 %}
                {% if is_route_name_set() %}
                    <h1 class="mb-3">{{ route_name() }}</h1>
                {% endif %}
            {% endblock %}

            {% block main %}{% endblock %}
        </div>

        {% if is_granted('text_content_update') %}
            {{ include('_fragment/_modal/_text_content_update.html.twig') }}
        {% endif %}

        {% if is_granted('image_content_update') %}
            {{ include('_fragment/_modal/_image_content_update.html.twig') }}
        {% endif %}
    </main>

    <footer class="footer mt-auto pt-5 pb-3 bg-black text-white-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mb-5">
                    <div class="row mb-3">
                        <div class="col-12 text-white">
                            {{ include('_fragment/_link/_app_clickable_logo.html.twig') }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-lg-10">
                            {{ include('_fragment/_content/_display_text.html.twig', {
                                text_content_identifier: 'company_description',
                            }) }}
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-12">
                            <a href="mailto:{{ company_email }}" class="text-white-50">
                                <i class="fas fa-envelope me-1"></i>
                                {{ company_email }}
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="tel:{{ company_phone_number }}" class="text-white-50">
                                <i class="fas fa-phone me-1"></i>
                                {{ company_phone_number }}
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-2 mb-5">
                    <h5 class="text-white mb-3">
                        {{ 'footer.header.main'|trans }}
                    </h5>

                    {% set menu_footer_main = build_menu('navbar_user_footer_main') %}
                    {{ menu(menu_footer_main) }}
                </div>

                <div class="col-12 col-lg-2 mb-5">
                    <h5 class="text-white mb-3">
                        {{ 'footer.header.content'|trans }}
                    </h5>

                    {% set menu_footer_content = build_menu('navbar_user_footer_content') %}
                    {{ menu(menu_footer_content) }}
                </div>

                <div class="col-12 col-lg-2 mb-5">
                    <h5 class="text-white mb-3">
                        {{ 'footer.header.legal'|trans }}
                    </h5>

                    {% set menu_footer_legal = build_menu('navbar_user_footer_legal') %}
                    {{ menu(menu_footer_legal) }}
                </div>
            </div>

            {% if company_social_media is not empty and company_payments_and_security_icons is not empty %}
                <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                        {% if company_social_media is not empty %}
                            <h5 class="text-white mb-3">
                                {{ 'footer.header.social'|trans }}
                            </h5>

                            {{ include('_fragment/_link/_social_media_links.html.twig') }}
                        {% endif %}
                    </div>

                    <div class="col-12 col-md-6 mb-4 text-md-end">
                        {% if company_payments_and_security_icons is not empty %}
                            <h5 class="text-white mb-3">
                                {{ 'footer.header.payments_and_security'|trans }}
                            </h5>

                            {% for icon_data in company_payments_and_security_icons %}
                                <img src="{{ icon_data.link }}" class="img-fluid me-1" alt="{{ icon_data.name }}" width="60">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <hr>

            <div class="row align-items-center">
                <div class="col-6">
                    <strong>
                        &copy; {{ 'now' | date('Y') }}, {{ company_name }}
                    </strong>
                </div>

                <div class="col-6 d-flex justify-content-end">
                    {% if themes is not empty %}
                        {% set theme_picker = build_menu('theme_picker') %}
                        {{ menu(theme_picker) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}