<div id="fc-removal-modal"
     class="modal fade"
     tabindex="-1"
     aria-labelledby="fc-removal-modal-label"
     aria-hidden="true"
     data-controller="fc--rem-mod"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fc-removal-modal-label">
                    {{ 'modal.title'|trans }}
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'modal.button.close'|trans }}">
                </button>
            </div>

            <div class="modal-body">
                {{ 'modal.form_collection_remove.content.question'|trans }}
                <strong>{{ 'modal.form_collection_remove.content.warning'|trans }}</strong>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ 'modal.button.close'|trans }}
                </button>

                <button type="button"
                        class="btn btn-danger"
                        data-action="fc--rem-mod#removePreparedItem"
                >
                    {{ 'modal.form_collection_remove.button.remove'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>