{# Application navigation #}
{% block application %}
    {% set application_menu_links %}
        {% for menu_child in menu_type.children %}
            {% with {'menu_type': menu_child} %}
                {{ block(menu_child.templateBlock, menu_theme) }}
            {% endwith %}
        {% endfor %}
    {% endset %}

    <ul class="nav nav-pills nav-fill d-none d-md-flex">
        {{ application_menu_links }}
    </ul>

    <div class="nav nav-pills flex-column d-md-none">
        {{ application_menu_links }}
    </div>
{% endblock %}

{% block application_item %}
    {% set application_item_disabled = menu_type.url == '#' %}

    <li class="nav-item">
        <a {% if not application_item_disabled %} href="{{ menu_type.url }}" {% endif %}
           class="nav-link border rounded-0 text-start w-100 {% if menu_type.active %} active {% endif %} {% if application_item_disabled %} disabled {% endif %}"
        >
            {{ menu_type.text }}
        </a>
    </li>
{% endblock %}

{# User footer #}
{% block navbar_user_footer_root %}
    {% for menu_child in menu_type.children %}
        {% with {'menu_type': menu_child, 'is_last': loop.last} %}
            {{ block(menu_child.templateBlock, menu_theme) }}
        {% endwith %}
    {% endfor %}
{% endblock %}

{% block navbar_user_footer_item %}
    <div {% if not is_last %} class="mb-1" {% endif %}>
        <a href="{{ menu_type.url }}" class="text-white-50">
            {{ menu_type.text }}
        </a>
    </div>
{% endblock %}

{# User navigation #}
{% block navbar_user %}
    <ul class="navbar-nav ms-auto">
        {% for menu_child in menu_type.children %}
            {% with {'menu_type': menu_child} %}
                {{ block(menu_child.templateBlock, menu_theme) }}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}

{% block navbar_user_item %}
    {% set _has_children = menu_type.children is not empty %}

    <li class="nav-item {% if _has_children %} dropdown {% endif %}">
        <a class="nav-link {% if menu_type.active %} active {% endif %} {% if _has_children %} dropdown-toggle {% endif %}"
           href="{{ menu_type.url }}"
           {% if _has_children %}
               data-bs-toggle="dropdown"
               aria-expanded="false"
           {% endif %}
        >
            {{ menu_type.text }}
        </a>

        {% if _has_children %}
            <div class="dropdown-menu">
                {% for menu_child in menu_type.children %}
                    {% with {'menu_type': menu_child} %}
                        {{ block(menu_child.templateBlock, menu_theme) }}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
    </li>
{% endblock %}

{% block navbar_user_dropdown_item %}
    <a class="dropdown-item {% if menu_type.active %} active {% endif %}" href="{{ menu_type.url }}">
        {{ menu_type.text }}
    </a>
{% endblock %}

{# User profile navigation #}
{% block navbar_user_profile %}
    <ul class="nav nav-tabs">
        {% for menu_child in menu_type.children %}
            {% with {'menu_type': menu_child} %}
                {{ block(menu_child.templateBlock, menu_theme) }}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}

{% block navbar_user_profile_item %}
    <li class="nav-item">
        <a class="nav-link {% if menu_type.active %} active {% endif %}" href="{{ menu_type.url }}">
            {{ menu_type.text }}
        </a>
    </li>
{% endblock %}

{# Pagination #}
{% block pagination_root %}
    <ul class="pagination pagination-sm m-0">
        {% for menu_child in menu_type.children %}
            {% with {'menu_type': menu_child} %}
                {{ block(menu_child.templateBlock, menu_theme) }}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}

{% block pagination_item %}
    {% if menu_type.identifier starts with 'divider' %}
        <li class="page-item disabled p-2">
            ...
        </li>
    {% else %}
        <li class="page-item {% if menu_type.active %} active {% endif %} {% if menu_type.url == '#' %} disabled {% endif %}">
            <a class="page-link" href="{{ menu_type.url }}">
                {{ menu_type.text }}
            </a>
        </li>
    {% endif %}
{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        {% for menu_child in menu_type.children %}
            {% with {'menu_type': menu_child} %}
                {{ block(menu_child.templateBlock, menu_theme) }}
            {% endwith %}
        {% endfor %}
    </ol>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item{% if menu_type.active %} active{% endif %}" {% if menu_type.active %} aria-current="page" {% endif %}>
        {% if menu_type.active %}
            {{ menu_type.text }}
        {% else %}
            <a href="{{ menu_type.url }}">{{ menu_type.text }}</a>
        {% endif %}
    </li>
{% endblock %}

{# Theme picker #}
{% block theme_picker_root %}
    <div class="btn-group dropup">
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-adjust"></i>
        </button>

        <ul class="dropdown-menu">
            {% for menu_child in menu_type.children %}
                {% with {'menu_type': menu_child} %}
                    {{ block(menu_child.templateBlock, menu_theme) }}
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block theme_picker_item %}
    <li>
        <a class="dropdown-item {% if menu_type.active %} active {% endif %}" href="{{ menu_type.url }}">
            {{ menu_type.text }}
        </a>
    </li>
{% endblock %}

{# Admin vertical navigation #}
{% block navbar_admin_vertical_root %}
    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
        {% for menu_child in menu_type.children %}
            {% with {'menu_type': menu_child} %}
                {{ block(menu_child.templateBlock, menu_theme) }}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}

{% block navbar_admin_vertical_item %}
    <li class="nav-item">
        <a href="{{ menu_type.url }}" class="nav-link{% if menu_type.active %} active{% endif %}">
            {% if menu_type.icon is not null %}
                <i class="nav-icon {{ menu_type.icon }}"></i>
            {% endif %}

            <p>
                {{ menu_type.text }}

                {% if menu_type.children is not empty %}
                    <i class="nav-arrow fas fa-angle-right"></i>
                {% endif %}
            </p>
        </a>

        {% if menu_type.children is not empty %}
            <ul class="nav nav-treeview">
                {% for menu_child in menu_type.children %}
                    {% with {'menu_type': menu_child} %}
                        {{ block(menu_child.templateBlock, menu_theme) }}
                    {% endwith %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}

{# Admin horizontal navigation #}
{% block navbar_admin_horizontal_root %}
    <ul class="navbar-nav ms-auto">
        {% for menu_child in menu_type.children %}
            {% with {'menu_type': menu_child} %}
                {{ block(menu_child.templateBlock, menu_theme) }}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}

{% block navbar_admin_horizontal_item %}
    {% set _has_children = menu_type.children is not empty %}

    <li class="nav-item {% if _has_children %} dropdown {% endif %}">
        <a class="nav-link text-nowrap" {% if _has_children %} data-bs-toggle="dropdown" {% endif %} href="{{ menu_type.url }}">
            {{ menu_type.text }}

            {% if _has_children %}
                <i class="ms-1 fas fa-caret-down"></i>
            {% endif %}
        </a>

        {% if _has_children %}
            <div class="dropdown-menu">
                {% for menu_child in menu_type.children %}
                    {% with {'menu_type': menu_child} %}
                        {{ block(menu_child.templateBlock, menu_theme) }}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
    </li>
{% endblock %}

{% block navbar_admin_horizontal_item_deep %}
    <a class="dropdown-item" href="{{ menu_type.url }}">
        {% if menu_type.icon is not null %}
            <i class="nav-icon me-2 {{ menu_type.icon }}"></i>
        {% endif %}

        {{ menu_type.text }}
    </a>
{% endblock %}

{# Admin navbar horizontal update #}
{% block navbar_admin_horizontal_update_root %}
    <ul class="nav nav-tabs" role="tablist">
        {% for menu_child in menu_type.children %}
            {% with {'menu_type': menu_child} %}
                {{ block(menu_child.templateBlock, menu_theme) }}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}

{% block navbar_admin_horizontal_update_item %}
    <li class="nav-item">
        <a class="nav-link {% if menu_type.active %} active {% endif %}"
           href="{{ menu_type.url }}" role="tab"
           aria-selected="{% if menu_type.active %} true {% else %} false {% endif %}"
        >
            {{ menu_type.text }}
        </a>
    </li>
{% endblock %}