{# Admin navigation #}
{% block navbar_admin_root %}
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% for menu_child in menu_type.children %}
            {% with {'menu_type': menu_child} %}
                {{ block(menu_child.templateBlock, menu_theme) }}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}

{% block navbar_admin_item %}
    <li class="nav-item">
        <a href="{{ menu_type.url }}" class="nav-link{% if menu_type.active %} active{% endif %}">
            {% if menu_type.icon is not null %}
                <i class="nav-icon {{ menu_type.icon }}"></i>
            {% endif %}

            <p>
                {{ menu_type.text }}
                {% if menu_type.children is not empty %}
                    <i class="right fas fa-angle-left"></i>
                {% endif %}
            </p>
        </a>

        {% if menu_type.children is not empty %}
            <ul class="nav nav-treeview">
                {% for menu_child in menu_type.children %}
                    {% with {'menu_type': menu_child} %}
                        {{ block(menu_child.templateBlock, menu_theme) }}
                    {% endwith %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}

{# Pagination #}
{% block pagination_root %}
    {% if menu_type.children|length > 0 %}
        <ul class="pagination pagination-sm m-0">
            {% for menu_child in menu_type.children %}
                {% with {'menu_type': menu_child} %}
                    {{ block(menu_child.templateBlock, menu_theme) }}
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block pagination_item %}
    {% if menu_type.identifier starts with 'divider' %}
        <li class="page-item disabled p-1">
            ...
        </li>
    {% else %}
        <li class="page-item{% if menu_type.active %} active{% endif %}">
            <a class="page-link" href="{{ menu_type.url }}">
                {{ menu_type.text }}
            </a>
        </li>
    {% endif %}
{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    {% if menu_type.children|length > 1 %}
        <ol class="breadcrumb">
            {% for menu_child in menu_type.children %}
                {% with {'menu_type': menu_child} %}
                    {{ block(menu_child.templateBlock, menu_theme) }}
                {% endwith %}
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item{% if menu_type.active %} active{% endif %}">
        {% if menu_type.active %}
            {{ menu_type.text }}
        {% else %}
            <a href="{{ menu_type.url }}">{{ menu_type.text }}</a>
        {% endif %}
    </li>
{% endblock %}

{# Locale switch #}
{% block locale_switch_root %}
    {% if menu_type.children|length > 1 %}
        <ul>
            {% for menu_child in menu_type.children %}
                {% with {'menu_type': menu_child} %}
                    {{ block(menu_child.templateBlock, menu_theme) }}
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block locale_switch_item %}
    <li>
        <a href="{{ menu_type.url }}"{% if menu_type.active %} class="active"{% endif %}>
            {{ menu_type.text }}
        </a>

        {% if menu_type.children is not empty %}
            <ul>
                {% for menu_child in menu_type.children %}
                    {% with {'menu_type': menu_child} %}
                        {{ block(menu_child.templateBlock, menu_theme) }}
                    {% endwith %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}